<template>
    <div>
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img class="img-landing-category" src="/landing/img/dish/dish1.jpg" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>Res</h3>
                                <a href="#store" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->

                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img  class="img-landing-category" src="/landing/img/dish/dish2.jpg" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>Pollo</h3>
                                <a href="#store" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->

                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img class="img-landing-category"  src="/landing/img/dish/dish5.jpeg" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>Mariscos</h3>
                                <a href="#store" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Lista de productos</h3>
                    </div>
                </div>

                <!-- SEARCH BAR -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-search">
                            <form>
                                <input class="input outline-transparent"
                                       placeholder="Buscar aqui"
                                       v-model="search"
                                       v-on:keyup="list">
                                <button class="search-btn outline-transparent">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- row  products-->

                <!-- SECTION -->
                <div class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- ASIDE -->
                            <div id="categories" class="col-md-3">
                                <!-- Categories -->
                                <div class="aside">
                                    <h3 class="aside-title">Categorías</h3>
                                    <div class="checkbox-filter">

                                        <div v-for="category in categories" class="input-checkbox">
                                            <input :id="'category-'+category.id" type="checkbox"
                                                   @change="categoriesFilter(category.id)">
                                            <label :for="'category-'+category.id">
                                                <span></span>
                                                {{category.name}}
                                                <small>({{category.products_count}})</small>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /Categories -->

                                <!-- Top sales -->
                                <top-sales/>
                                <!-- /Top sales -->

                            </div>
                            <!-- /ASIDE -->

                            <!-- STORE -->
                            <div id="store" class="col-md-9">
                                <!-- store top filter -->
                                <div class="store-filter clearfix">
                                    <div class="store-sort">
                                        <label>
                                            Mostrar:
                                            <b-form-select
                                                class="input-select"
                                                v-model="perPage.selected"
                                                :options="perPage.options"
                                                @change="list(paginate.current_page)">
                                            </b-form-select>

                                        </label>
                                    </div>

                                </div>
                                <!-- /store top filter -->

                                <!-- store products -->
                                <div class="row">

                                    <!-- product -->
                                    <div v-for="product in data" class="col-md-4 col-xs-6">
                                        <div class="product">
                                            <div class="product-img">
                                                <img :src="product.images_path.picture_1" alt="">
                                                <div class="product-label">
                                                    <span class="sale" v-if="product.discount > 0">{{`-${product.discount}%` }}</span>
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{product.category.name}}</p>
                                                <h3 class="product-name">
                                                    <a @click.prevent="goToDetail(product.id)">{{ product.name }}</a></h3>
                                                <h4 class="product-price">{{ product.discount_price | currency}}
                                                    <del class="product-old-price"  v-if="product.discount > 0">{{ product.price | currency}}</del>
                                                </h4>
                                               <div class="product-measure">
                                                   {{product.measure}}
                                               </div>

                                                <rating-starts :score="product.overall_score"
                                                               :class_style="'product-rating'"/>


                                                <div class="product-btns">
                                                    <button class="quick-view outline-transparent"
                                                            @click.prevent="goToDetail(product.id)"><i
                                                        class="fa fa-eye"></i>
                                                        <span class="tooltipp">Ver detalle</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button
                                                    v-if="product.isInCart"
                                                    @click="removeCart(product.id)"
                                                    class="add-to-cart-btn outline-transparent">
                                                    <i class="fa fa-trash"></i>
                                                    Quitar
                                                </button>
                                                <button
                                                    v-if="!product.isInCart"
                                                    @click="addToCart(product.id)"
                                                    class="add-to-cart-btn outline-transparent">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Agregar
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- /product -->
                                </div>
                                <!-- /store products -->

                                <!-- store bottom filter -->


                                <div class="store-filter clearfix">
                                        <span class="store-qty">Mostrando
                                            <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
                                        </span>

                                    <div class="float-right">
                                        <paginate
                                            :page-count="paginate.last_page"
                                            :click-handler="list"
                                            :prev-link-class="'fa fa-angle-left'"
                                            :next-link-class="'fa fa-angle-right'"
                                            :container-class="'store-pagination'"
                                            :page-class="'page-item'"
                                            :page-link-class="'page-link'"
                                            :prev-text="''"
                                            :next-text="''"
                                        >
                                        </paginate>

                                    </div>


                                </div>


                                <!-- /store bottom filter -->
                            </div>
                            <!-- /STORE -->
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /SECTION -->

                <!-- /row -->

            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </div>

</template>

<script>
    import TopSales from "./TopSales";

    export default {
        name: "Products",
        components: {TopSales},
        data() {
            return {
                data: [], // carga de registros
                categories: [],
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '12',
                    options: [
                        {value: 12, text: '12'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },

                search: '',
                search_category: [],
                searching: false,
            }
        },
        created() {

            this.list();

            this.getCategories();


        },
        methods: {
            list(page) {
                axios.get(window.Api.products.show, {
                    params: {
                        page: page,
                        search: this.search,
                        per_page: this.perPage.selected,
                        search_category: this.search_category,
                    }

                })
                    .then(async response => {
                        response = response.data.success;

                        this.data = await response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                        this.checkCart();

                    })
                    .catch(error => console.log(error));
            },

            getCategories() {

                axios.get(`${window.Api.categories.show}?all=true`)
                    .then(response => {

                        this.categories = response.data.success;


                    })
                    .catch(error => console.log(error));
            },

            categoriesFilter(id) {

                if (this.search_category.includes(id)) {

                    this.search_category.splice(this.search_category.indexOf(id), 1);
                } else {
                    this.search_category.push(id);
                }


                this.list(this.paginate.current_page)
            },

            goToDetail(id) {
                window.location.href = "/producto/" + id;
            },

            checkCart() {
                // agrega una propiadad para saber si esta en el carrito este producto

                if(localStorage['ShoppingCart']){
                    let items = JSON.parse(localStorage['ShoppingCart']);

                    this.data.forEach((product) => {

                        product.isInCart = false;

                        let found = items.find(function (productCart) {
                            return productCart.item_id === product.id;
                        });

                        if (found != null) {
                            product.isInCart = true;
                        }

                    });

                    Event.$emit('UpdateShoppingCart');
                }



            },

            addToCart(id) {


                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                    let found = items.find(function (productCart) {
                         return productCart.item_id === id;
                    });

                if (found == null) {
                        items.push({item_id: id, quantity: 1});
                    }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));
                this.list(this.paginate.current_page);


            },

            removeCart(id) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = id;
                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                this.list(this.paginate.current_page);
            },


        }
    }
</script>

<style scoped>

    .img-landing-category{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .outline-transparent:hover {
        outline: transparent;
    }

    .product-name {
        color: #337ab7 !important;
    }

    .text-gray {
        color: gray
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #d83120;
        border-color: #d83120;
    }

    .page-link:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

     .product-measure{
        color: #D10024 !important;
    }

</style>
