<template>
    <div>
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- Product main img -->
                    <div class="col-md-5 col-md-push-2 height-product">
                        <div id="product-main-img">
                            <div class="product-preview" v-if="product.images_path.picture_1">
                                <img :src="product.images_path.picture_1" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_2">
                                <img :src="product.images_path.picture_2" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_3">
                                <img :src="product.images_path.picture_3" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_4">
                                <img :src="product.images_path.picture_4" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /Product main img -->

                    <!-- Product thumb imgs -->
                    <div class="col-md-2  col-md-pull-5">
                        <div id="product-imgs">
                            <div class="product-preview" v-if="product.images_path.picture_1">
                                <img :src="product.images_path.picture_1" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_2">
                                <img :src="product.images_path.picture_2" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_3">
                                <img :src="product.images_path.picture_3" alt="">
                            </div>
                            <div class="product-preview" v-if="product.images_path.picture_4">
                                <img :src="product.images_path.picture_4" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /Product thumb imgs -->

                    <!-- Product details -->
                    <div class="col-md-5">
                        <div class="product-details">
                            <h2 class="product-name">{{product.name}}</h2>
                            <div>
                                <rating-starts :score="product.overall_score" :class_style="'product-rating'"/>

                                <label class="review-link"> Agrega tu evaluación</label>
                            </div>

                            <div>
                                <h3 class="product-price">{{product.discount_price | currency }}
                                    <del class="product-old-price" v-if="product.discount > 0">{{product.price | currency }}</del>
                                    <h5>Precio por {{product.measure === 'Kg' ? 'Kilo':'Pieza'}}</h5>
                                </h3>
                                <span class="product-available">{{product.availability ? 'Disponible':'Agotado'}}</span>
                            </div>
                            <p>{{product.description}}</p>

                            <div class="add-to-cart">

                                <div class="qty-label">
                                    {{product.measure === 'Kg' ? 'Kilo':'Pieza'}}
                                    <spinner-min-max
                                        v-model="qty"
                                        @change="changeCart"
                                        :step="product.measure === 'Kg' ? 0.5 : 1.0"
                                    />

                                </div>

                                <button
                                    v-if="isInCart && isUpdate"
                                    style="outline: transparent"
                                    class="add-to-cart-btn"
                                    @click="updateCart">
                                    <i class="fa fa-refresh"></i>
                                    Actualizar carrito
                                </button>
                                <button
                                    v-if="isInCart && !isUpdate"
                                    style="outline: transparent"
                                    class="add-to-cart-btn"
                                    @click="removeCart">
                                    <i class="fa fa-trash"></i>
                                    Quitar del carrito
                                </button>
                                <button
                                    v-if="!isInCart"
                                    style="outline: transparent"
                                    class="add-to-cart-btn"
                                    @click="addToCart">
                                    <i class="fa fa-shopping-cart"></i>
                                    añadir al carrito
                                </button>


                            </div>


                            <ul class="product-links">
                                <li>Categoría:</li>
                                <li><a href="#">{{product.category.name}}</a></li>

                            </ul>

                        </div>
                    </div>
                    <!-- /Product details -->

                    <!-- Ratings   -->
                    <ratings :product="product"/>
                    <!-- /Ratings -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

        <!-- RelatedProducts -->
        <related-products :product_id="product.id"/>
        <!-- /RelatedProducts -->
    </div>


</template>

<script>
    import Ratings from "./Ratings";
    import RelatedProducts from "./RelatedProducts";
    import RatingStarts from "../../../components/ratingStarts";
    import SpinnerMinMax from "../../../components/SpinnerMinMax";


    export default {
        name: "Product",
        components: {SpinnerMinMax, RatingStarts, RelatedProducts, Ratings},
        props: ["product_data"],
        data() {
            return {
                product: {},
                qty: 0,
                isInCart: false,
                isUpdate: false,
            }
        },
        created() {

            this.product = JSON.parse(this.product_data);


            Event.$on('UpdateShoppingCart', () => {
                this.checkCart();
            });

            this.checkCart();
        },
        methods: {

            addToCart() {

                if (this.qty === 0) {
                    return this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes seleccionar una cantidad primero",
                        showCloseButton: true,
                    });
                }

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = this.product.id;
                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });


                if (found == null) {
                    items.push({item_id: item_id, quantity: this.qty});
                    this.isInCart = true;
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                // this.search(this.paginate.current_page);
            },

            removeCart() {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = this.product.id;
                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                    this.isInCart = false;

                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                //  this.search(this.paginate.current_page);

            },

            updateCart() {

                if (this.qty === 0) {
                    return this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes seleccionar una cantidad primero",
                        showCloseButton: true,
                    });
                }


                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = this.product.id;

                items.forEach((element) => {
                    if (element.item_id === item_id) {
                        element.quantity = this.qty;

                        this.isInCart = true;
                        this.isUpdate = false;
                    }
                });

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                // this.search(this.paginate.current_page);
            },

            checkCart() {
                // agrega una propiadad para saber si esta en el carrito este producto

                this.isInCart = false;

                let items = JSON.parse(localStorage['ShoppingCart']) || [];

                let item_id = this.product.id;

                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });

                if (found != null) {
                    this.isInCart = true;
                }
            },

            changeCart(value) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = this.product.id;


                let quantity = this.qty = value;

                this.isUpdate = items.find(function (productCart) {
                    return productCart.item_id === item_id && productCart.quantity !== quantity;
                });


                Event.$emit('UpdateShoppingCart');
            }
        }

    }
</script>

<style lang="scss" scoped>
    .height-product {
        max-height: 270px;
    }

    .product-preview img {
        width: 100%;
        max-height: 270px;
    }

    .review-link {
        color: #337ab7;
        font-size: 12px;
        font-weight: 400;
    }


</style>
