<template>
    <div class="col-md-12">
        <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Calificaciones ({{paginate.total}})</a></li>
            </ul>
            <!-- /product tab nav -->

            <!-- product tab content -->
            <div class="tab-content">
                <!-- tab1  -->
                <div id="tab1" class="tab-pane fade in active">
                    <div class="row">
                        <!-- Rating -->
                        <div class="col-md-3">
                            <div id="rating">
                                <h3>Calificacion general</h3>

                                <div class="rating-avg">
                                    <span>{{ (Math.round(overall_score * 100) / 100).toFixed(1)}}</span>
                                    <rating-starts :score="overall_score"/>

                                </div>
                            </div>
                        </div>
                        <!-- /Rating -->

                        <!-- Reviews -->
                        <div class="col-md-6">
                            <div id="reviews">
                                <ul class="reviews">
                                    <li v-for="review in data">
                                        <div class="review-heading">
                                            <h5 class="name">{{review.name}}</h5>
                                            <p class="date">{{review.created_at}}</p>
                                            <rating-starts-red :score="review.score"/>
                                        </div>
                                        <div class="review-body">
                                            <p>{{review.review}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <paginate
                                        :page-count="paginate.last_page"
                                        :click-handler="list"
                                        :prev-link-class="'fa fa-angle-left'"
                                        :next-link-class="'fa fa-angle-right'"
                                        :container-class="'store-pagination'"
                                        :page-class="'page-item'"
                                        :page-link-class="'page-link'"
                                        :prev-text="''"
                                        :next-text="''"
                                    >
                                    </paginate>
                                </div>


                            </div>
                        </div>
                        <!-- /Reviews -->

                        <!-- Review Form -->
                        <div class="col-md-3">
                            <div id="review-form">
                                <form class="review-form" @submit.prevent="add">
                                    <input
                                        v-model="form.name"
                                        ref="rating_name"
                                        class="input"
                                        type="text"
                                        placeholder="Nombre">
                                    <input
                                        v-model="form.email"
                                        class="input"
                                        type="email"
                                        placeholder="Correo electrónico">
                                    <textarea
                                        v-model="form.review"
                                        class="input"
                                        placeholder="Comentario">
                                    </textarea>
                                    <div class="input-rating">
                                        <span>Tu calificación:</span>
                                        <div class="stars">
                                            <input id="star5" name="rating" value="5" type="radio"
                                                   @click="form.score = 5">
                                            <label for="star5"></label>
                                            <input id="star4" name="rating" value="4" type="radio"
                                                   @click="form.score = 4">
                                            <label for="star4"></label>
                                            <input id="star3" name="rating" value="3" type="radio"
                                                   @click="form.score = 3">
                                            <label for="star3"></label>
                                            <input id="star2" name="rating" value="2" type="radio"
                                                   @click="form.score = 2">
                                            <label for="star2"></label>
                                            <input id="star1" name="rating" value="1" type="radio"
                                                   @click="form.score = 1">
                                            <label for="star1"></label>
                                        </div>
                                    </div>
                                    <button type="submit" class="primary-btn no-outline">Enviar</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Review Form -->
                    </div>
                </div>
                <!-- /tab1  -->

            </div>
            <!-- /product tab content  -->
        </div>
    </div>

</template>

<script>
    import RatingStartsRed from "../../../components/ratingStartsRed";

    export default {
        name: "Ratings",
        components: {RatingStartsRed},
        props: ['product'],
        data() {
            return {
                data: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '5',
                    options: [
                        {value: 5, text: '5'},
                        {value: 10, text: '10'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },
                form: {
                    name: "",
                    email: "",
                    review: "",
                    score: 0,
                },
                overall_score: 0,
                search: '',
                searching: false,
            }
        },
        created() {

            this.overall_score = this.product.overall_score;

            this.list();
        },
        methods: {

            list(page) {
                axios.get(window.Api.reviews.show, {
                        params: {
                            page: page,
                            search: this.search,
                            per_page: this.perPage.selected,
                            product_id: this.product.id,
                        }
                    }
                )
                    .then(response => {

                        response = response.data.success;

                        this.data = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;
                    })
                    .catch(error => console.log(error));
            },

            add() {


                let fmData = new FormData();
                fmData.append("name", this.form.name);
                fmData.append("email", this.form.email);
                fmData.append("review", this.form.review);
                fmData.append("score", this.form.score);
                fmData.append("product_id", this.product.id);


                axios.post(window.Api.reviews.create, fmData)
                    .then(response => {

                        this.overall_score = response.data.success.product.overall_score;

                        this.$swal(
                            'Enviado',
                            'Calificación enviada',
                            'success'
                        );

                        this.form.name = "";
                        this.form.email = "";
                        this.form.review = "";
                        this.form.score = 0;

                        this.list(this.paginate.current_page);

                    })
                    .catch(error => this.onError(error));

                return false;
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            position: "center",
                            text: "Debes llenar todos los campos del formulario",
                            showCloseButton: true,
                        });
                        this.errors = error.response.data.error;
                         break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

        }
    }
</script>

<style scoped>
    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #d83120;
        border-color: #d83120;
    }

    .page-link:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .store-pagination {
        float: none
    }

</style>
