<template>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Productos relacionados</h3>
                    </div>
                </div>

                <!-- product -->
                <div class="col-md-3 col-xs-6" v-for="product in products">
                    <div class="product">
                        <div class="product-img">
                            <img :src="product.images_path.picture_1" alt="">
                            <div class="product-label">
                                <span class="sale" v-if="product.discount > 0">{{`-${product.discount}%` }}</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{product.category.name}}</p>
                            <h3 class="product-name">
                                <a href=""
                                   @click.prevent="goToDetail(product.id)">{{product.name}}
                                </a>
                            </h3>
                            <h4 class="product-price">{{ product.discount_price | currency}}
                                <del class="product-old-price">{{ product.price | currency}}</del>
                            </h4>
                            <rating-starts :score="product.overall_score" :class_style="'product-rating'"/>

                            <div class="product-btns">
                                <button class="quick-view outline-transparent"
                                        @click.prevent="goToDetail(product.id)"><i
                                    class="fa fa-eye"></i>
                                    <span class="tooltipp">Ver detalle</span>
                                </button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carrito
                            </button>
                        </div>
                    </div>
                </div>

                <!-- /product -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</template>

<script>
    import RatingStarts from "../../../components/ratingStarts";
    export default {
        name: "RelatedProducts",
        components: {RatingStarts},
        props: ['product_id', 'category_id'],

        data() {
            return {
                products: []
            }
        },
        created() {
            this.list();
        },
        methods: {
            list() {
                axios.get(`${window.Api.products.related_products}/${this.product_id}`)
                    .then(response => {
                        this.products = response.data.success;
                    })
                    .catch(error => console.log(error));
            },
            goToDetail(id) {
                window.location.href = "/producto/" + id;
            }
        }
    }
</script>

<style scoped>

</style>
