<template>
    <div class="aside">
        <h3 class="aside-title">Mejor Valorados</h3>
        <div class="product-widget" v-for="product in data">
            <div class="product-img">
                <img class="img-top" :src="product.images_path.picture_1" alt="">
            </div>
            <div class="product-body">
                <p class="product-category">{{product.category.name}}</p>
                <h3 class="product-name"><a @click.prevent="goToDetail(product.id)">{{product.name}}</a></h3>
                <h4 class="product-price">{{product.discount_price | currency }}
                    <del class="product-old-price">{{product.price  | currency }}</del>
                </h4>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "TopSales",
        data() {
            return {
                data: [],
            }
        },
        created() {
            this.list();
        },
        methods: {
            list() {
                axios.get(window.Api.products.topThreeReviews)
                    .then(async response => {
                        this.data = response.data.success;

                    })
                    .catch(error => console.log(error));
            },
            goToDetail(id) {
                window.location.href = "/producto/" + id;
            },
        }
    }
</script>

<style scoped>
    .img-top {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }


</style>
