<template>
    <form @submit.prevent="validateForm">

        <h3 class="mb-3">Datos de empleado</h3>

        <div class="row">
            <div class="col-md-3">
                <label> Nombre</label>
                <input v-model="user.name"
                       class="form-control"
                       type="text"
                       :readonly="setReadonly"
                       placeholder="Complete el campo">
                <span v-if="errors.name" class="error">{{errors.name[0]}}</span>
            </div>

            <div class="col-md-4">
                <label> Correo Electrónico</label>
                <input v-model="user.email"
                       class="form-control"
                       type="text"
                       :readonly="setReadonly"
                       placeholder="Complete el campo">
                <span v-if="errors.email" class="error">{{errors.email[0]}}</span>
            </div>

            <div class="col-md-3">
                <label> Teléfono</label>
                <input v-model="user.telephone"
                       class="form-control"
                       type="number"
                       :readonly="setReadonly"
                       placeholder="Complete el campo">
                <span v-if="errors.telephone" class="error">{{errors.telephone[0]}}</span>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-md-3">
                <label> Contraseña</label>
                <input v-model="user.password"
                       class="form-control"
                       type="password"
                       :readonly="setReadonly"
                       placeholder="Complete el campo">
                <span v-if="errors.password" class="error">{{errors.password[0]}}</span>
            </div>

            <div class="col-md-3">
                <label> Confirmar contraseña</label>
                <input v-model="user.confirm_password"
                       class="form-control"
                       type="password"
                       :readonly="setReadonly"
                       placeholder="Complete el campo">
                <span v-if="errors.confirm_password" class="error">{{errors.confirm_password[0]}}</span>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-3">
                <label> Puesto</label>
                <b-form-select :readonly="setReadonly" v-model="user.staff.job" :options="jobs"></b-form-select>


                <span v-if="errors.job" class="error">{{errors.job[0]}}</span>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="left mt-3 mr-2">

                    <button v-if="!imagePicker.hasPicture" @click.prevent="toggleShow" :readonly="setReadonly"
                            class="btn btn-link">Seleccióna una imagen
                    </button>
                    <button v-else @click.prevent="toggleShow" :readonly="setReadonly"
                            class="btn btn-link">Cambiar imagen
                    </button>

                    <image-upload field="img"
                                  @crop-success="cropSuccess"
                                  v-model="imagePicker.modalPictureShow"
                                  :width="300"
                                  :height="300"
                                  langType="es-MX"
                                  img-format="png"></image-upload>

                    <img v-if="imagePicker.hasPicture"
                         rel="AvatarImage"
                         class="mt-1 rounded"
                         width="100"
                         height="100"
                         :src="imagePicker.imgDataUrl">

                    <span v-if="errors.image" class="error">{{errors.image[0]}}</span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5">
                <button
                    type="submit"
                    v-if="!setReadonly && edit_mode || !edit_mode"
                    class="mt-3 btn btn btn-danger  btn-fill text-white btn_movil">
                    {{edit_mode ? 'Guardar cambios' : 'Guardar'}}
                </button>

                <button
                    v-if="edit_mode"
                    type="button"
                    class="mt-3 btn btn  btn-secondary  btn-fill text-white btn_movil"
                    @click.prevent="setReadonly = !setReadonly"
                >
                    {{setReadonly ? ' Modo edición' : 'Cancelar'}}
                </button>

            </div>
            <div class="offset-5"></div>

            <div class="col-md-2">
                <a href="/dashboard/empleados"
                   class="mt-3 btn btn-secondary btn-fill text-white btn_movil">
                    Regresar
                </a>
            </div>
        </div>

    </form>
</template>

<script>
    import imageUpload from '../../../components/imageUpload/image-upload';


    export default {
        name: "FormWorkers",
        props: ['user_edit'],
        components: {
            imageUpload
        },
        data() {
            return {
                errors: [],
                user: {
                    id: 0,
                    name: "",
                    email: "",
                    telephone: "",
                    password: "",
                    confirm_password: "",
                    image: "",
                    staff: {
                        job: null,
                    }
                },
                jobs: [
                    {text: 'Seleccione una opción', value: null},
                    {text: "Repartidor", value: "1"},
                    {text: "Administrador", value: "2"},
                ],
                imagePicker: {
                    modalPictureShow: false,
                    hasPicture: false,
                    imgDataUrl: "",
                    file: null,
                },
                edit_mode: false,
                setReadonly: false,
            }
        },

        created() {

            if (!!this.user_edit) {

                this.edit_mode = true;
                this.setReadonly = true;

                let userData = JSON.parse(this.user_edit);

                this.user.id = userData.staff.id;
                this.user.name = userData.name;
                this.user.email = userData.email;
                this.user.telephone = userData.telephone;
                this.user.staff.job = this.jobs.find(r => {
                    return r.text.toUpperCase() === userData.staff.job.toUpperCase();
                }).value;

                this.imagePicker.hasPicture = true;
                this.imagePicker.imgDataUrl = userData.staff.image_path;


            }


        },
        methods: {

            validateForm() {
                if (this.edit_mode) {
                    this.update();
                } else {
                    this.create();
                }
            },

            create() {

                this.$swal({
                    title: 'Guardando registro',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();
                        fmData.append("name", this.user.name);
                        fmData.append("email", this.user.email);
                        fmData.append("telephone", this.user.telephone);
                        fmData.append("password", this.user.password);
                        fmData.append("confirm_password", this.user.confirm_password);
                        fmData.append("job", this.user.staff.job);
                        fmData.append("image", this.imagePicker.file);

                        axios.post(window.Api.users.staff.create, fmData)
                            .then(response => {
                                window.location.href = "/dashboard/empleados/";
                                this.$swal(
                                    'Guardado!',
                                    'Registro guardado',
                                    'success'
                                );

                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error);
                            })
                    }
                })
            },

            update() {
                this.$swal({
                    title: 'Guardando cambios',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();

                        fmData.append("name", this.user.name);
                        fmData.append("email", this.user.email);
                        fmData.append("telephone", this.user.telephone);

                        if (this.user.password && this.user.confirm_password) {
                            fmData.append("password", this.user.password);
                            fmData.append("confirm_password", this.user.confirm_password);
                        }

                        fmData.append("job", this.user.staff.job);
                        if (this.imagePicker.file) {
                            fmData.append("image", this.imagePicker.file);
                        }

                        // Display the key/value pairs
                        /*   for (let pair of fmData.entries()) {
                               console.log(pair[0] + ': ' + pair[1]);
                           }
                        */

                        axios.post(`${window.Api.users.staff.update}/${this.user.id}`, fmData)
                            .then(response => {
                                this.edit_mode = true;
                                this.setReadonly = true;
                                this.$swal(
                                    'Guardado!',
                                    'Registro actualizado',
                                    'success'
                                );

                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error);
                            })
                        //   .finally(() => this.$swal.close());

                    }
                })
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

            //input picture
            cropSuccess(imgDataUrl, field, ki, file) {
                this.imagePicker.imgDataUrl = imgDataUrl;
                this.imagePicker.file = file;
                this.imagePicker.hasPicture = true;
            },
            toggleShow() {
                this.imagePicker.modalPictureShow = !this.show;
            },

        }

    }
</script>
<style scoped>

</style>
