<template>

        <div class="card-body">
            <div class="content">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="mb-4"><b>Horarios disponibles</b></h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="number_records">
                                    <b-form-select
                                        v-model="perPage.selected"
                                        :options="perPage.options"
                                        class="mb-3 form-select width-40"
                                        @change="list(paginate.current_page = 1)"
                                    ></b-form-select>
                                </div>
                            </div>
                            <div class="offset-4"></div>
                            <div class="col-sm-6">
                                <div class="search-box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input
                                        v-model="search"
                                        v-on:keyup="list"
                                        type="text"
                                        class="form-control"
                                        placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>

                    <SortedTable class="table table-striped table-hover" :values="data">
                        <thead>

                        <!-- Headers-->
                        <tr>
                            <th scope="col">
                                <SortLink name="hours">Horario</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="active">Activo</SortLink>
                            </th>

                            <th>Acciones</th>
                        </tr>

                        </thead>
                        <tbody slot="body" slot-scope="sort">
                        <tr v-for="row in sort.values" :key="row.id">

                            <!-- Columns-->
                            <td class="vertical-align-column">
                                 <label>{{ row.hours }}</label>
                            </td>

                            <td class="vertical-align-column">

                                {{ parseInt(row.active) === 1? 'Si':'No' }}
                            </td>
                            <!-- Actions-->
                            <td class="vertical-align-column">

                                <a href="#"
                                   @click.prevent="update(row.id)"
                                   class="settings"
                                   title="settings"
                                   data-toggle="tooltip">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>

                            </td>
                        </tr>
                        </tbody>
                    </SortedTable>


                    <div class="clearfix">

                        <div class="hint-text">Mostrando
                            <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
                        </div>

                        <paginate
                            :page-count="paginate.last_page"
                            :click-handler="list"
                            :prev-link-class="'fa fa-angle-double-left'"
                            :next-link-class="'fa fa-angle-double-right'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link'"
                            :prev-text="''"
                            :next-text="''"
                        >
                        </paginate>


                    </div>

            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Schedule",
        data() {
            return {
                data: [],
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '6',
                    options: [
                        {value: 6, text: '6'},
                        {value: 12, text: '12'},
                        {value: 24, text: '24'},
                     ]
                },
                search: '',
                searching: false,
                errors: [],
            }
        },
        created() {
            this.list();
        },
        methods: {
            list(page) {
                axios.get(window.Api.schedule.all, {
                    params: {
                        page: page,
                        search: this.search,
                        per_page: this.perPage.selected,
                    }
                })
                    .then(response => {

                        response = response.data.success;

                        this.data = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                    })
                    .catch(error => console.log(error));

            },

            update(id) {
                this.$swal({
                    title: 'Guardando cambio',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                axios.post(`${window.Api.schedule.update}/${id}`)
                            .then(response => {
                                this.$swal.close();
                                this.$swal(
                                    'Guardado!',
                                    'Registro guardado',
                                    'success'
                                );

                                this.list(this.paginate.current_page);
                                this.closeModal();
                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error)
                            });

                    }
                });

            }

        }
    }
</script>

<style lang="scss" scoped>

</style>
