<template>
    <div>

        <div class="row">

            <div class="col-md-6">
                <GChart
                    type="PieChart"
                    :data="graphic_1"
                    :options="donutOptions"
                />
            </div>


            <div class="col-md-6">
                <GChart
                    type="BarChart"
                    :data="graphic_2"
                    :options="BarsOptions"
                />
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <GChart
                    type="AreaChart"
                    :data="graphic_3"
                    :options="AreaOptions"
                />
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "Dashboard",
        data() {
            return {

                //Donut
                graphic_1: [
                    ['Categoría', 'Pedidos']
                ],
                donutOptions: {
                    title: 'Categorías con mas producto',
                    pieHole: 0.2,
                    colors: ['#b83318', '#d3975c', '#ffc74a', '#d8606e', '#d43438', '#ffc17a']
                },
                //Bars
                graphic_2: [
                    ['Dia', 'Ventas', {role: "style"}]
                ],
                BarsOptions: {
                    title: "Ventas en la semana",
                    bar: {groupWidth: "80%"},
                    legend: {position: "none"},
                    vAxis: {
                        format: 'none'
                    }
                },
                //Column
                graphic_3: [
                    ['Mes', 'Ventas']
                ],
                AreaOptions: {
                    chart: {
                        title: 'Ventas en el ultimo año',
                        legend: {position: 'top'},
                        hAxis: {title: 'Ventas'},
                        vAxis: {minValue: 0}
                    }
                },

            }
        },
        created() {
            this.getGraphics();
        },
        methods: {
            getGraphics() {

                axios.get(window.Api.graphics)
                    .then(response => {

                        response = response.data.success;

                        response.graphic_1.forEach(category => {
                            this.graphic_1.push([category.name, category.products_count]);
                        });

                        this.graphic_2.push(["Domingo", response.graphic_2.Domingo, '#b83318']);
                        this.graphic_2.push(["Lunes", response.graphic_2.Lunes, '#b83318']);
                        this.graphic_2.push(["Martes", response.graphic_2.Martes, '#b83318']);
                        this.graphic_2.push(["Miercoles", response.graphic_2.Miercoles, '#b83318']);
                        this.graphic_2.push(["Jueves", response.graphic_2.Jueves, '#b83318']);
                        this.graphic_2.push(["Viernes", response.graphic_2.Viernes, '#b83318']);
                        this.graphic_2.push(["Sabado", response.graphic_2.Sabado, '#b83318']);


                        response.graphic_3.forEach(g => {

                            let months_es = {
                                'January': 'Enero',
                                'February': 'Febrero',
                                'March': 'Marzo',
                                'April': 'Abril',
                                'May': 'Mayo',
                                'June': 'Junio',
                                'July': 'Julio',
                                'August': 'Agosto',
                                'September': 'Septiembre',
                                'October': 'Octubre',
                                'November': 'Noviembre',
                                'December': 'Diciembre'
                            };

                            this.graphic_3.push([months_es[g.month], g.count]);
                        });

                    })
                    .catch(error => console.log(error));
            }
        }
    }
</script>

<style scoped>

</style>
