@media only screen and (max-width: 600px) {
    .btn_movil {
        display: block;
        width: 100%;
    }

    .file-drop-zone {
        border: 0 dashed transparent;
    }

    .img-responsive{
        text-align: -webkit-center;
    }

}

.error {
    color: #f5593d;
}

.input_danger {
    background-color: #ffc0a4;
    border: 1px solid #f5593d;
    color: #f5593d;
}


.cursor-pointer{
    cursor :pointer;
}
