.sidebar .nav-link:hover {
    color: #fff;
    background: #922012bf !important;
}

a {
    color: #c7140e;
}

a:hover {
    color: #957516;
    text-decoration: none;
}

.app-header {
    background-color: #760e0e;
    border-bottom: 1px solid #664f4e;
}

.sidebar {
    color: #fff;
    background: #5a5555;
}

.sidebar .nav-link .nav-icon {
    color: #fff;
}

.no-outline {
    outline: transparent !important;
}
.no-outline:hover , .no-outline:focus{
    outline: transparent !important;
}


.sidebar .nav-link.active {
    color: #fff;
    background: #483a3a;
}

.sidebar .nav-link.active .nav-icon {
    color: #d82020f0;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #d83120;
    border-color: #d83120;
}


.pagination li.active a:hover {
    background: #d66703;
}

.width-40 {
    width: 50% !important;
    min-width: 70px;
}


.rounded {
    border-radius: 100% !important;
}

.error {
    color: #f5593d;
    font-size: smaller;
}


.dropdown-item.active, .dropdown-item:active {
    background-color: #c32d2d47;
}
