
table.table .avatar-square {
    border-radius: 20%;
    vertical-align: middle;
    margin-right: 10px;
}

.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: 'Buscar';
}


.modal-backdrop {
    background-color: #96989e94 !important;
}


