<template>
    <!-- Cart -->
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-shopping-cart"></i>
            <span>Mi carrito</span>
            <div class="qty">{{count }}</div>
        </a>
        <div class="cart-dropdown">
            <div class="cart-list">
                <div class="product-widget" v-for="product in products">
                    <div class="product-img">
                        <img :src="product.images_path.picture_1" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-name">
                            <a href="#"
                               @click.prevent="goToDetail(product.id)">{{product.name}}
                            </a>
                        </h3>


                        <h4 class="product-price">

                            <span class="qty"> {{ `${product.qty} ${product.measure}` }} </span>
                            <span> {{ product.import | currency}} </span>
                            <del
                                class="product-old-price size-md"
                                v-if="product.discount > 0">
                                {{product.original_import | currency }}
                            </del>

                        </h4>


                    </div>
                    <button class="delete" @click="removeCart(product.id)"><i class="fa fa-close"></i></button>
                </div>


            </div>
            <div class="cart-summary">
                <small>{{count}} Articulo(s) seleccionado</small>
                <h5>SUBTOTAL: {{total | currency}}</h5>
            </div>
            <div class="cart-btns">
                <a href="/productos">Seguir comprando</a>
                <a href="/carrito">Ver Carrito <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /Cart -->
</template>

<script>
    export default {
        name: "ShoppingCartDropDown",
        data() {
            return {
                products: [],
                total: 0,
                subtotal: 0,
                count: 0,
            }
        },
        created() {
            Event.$on('UpdateShoppingCart', () => {
                this.loadCart();
            });

            this.loadCart();
        },
        methods: {
            loadCart() {
                if (localStorage['ShoppingCart'] != null) {

                    axios.post(window.Api.products.getShoppingCart,
                        {
                            ShopCart: localStorage['ShoppingCart']
                        })

                        .then(response => {

                            response = response.data.success;

                            this.products = response.items;
                            this.total = response.total;
                            this.subtotal = response.subtotal;
                            this.count = response.count;

                        })
                        .catch(error => console.log(error));
                }
            },

            removeCart(id) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = id;
                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                //  this.search(this.paginate.current_page);

            },

            goToDetail(id) {
                window.location.href = "/producto/" + id;
            },
        }
    }
</script>

<style scoped>
    .product-widget .product-body .product-price {
        font-size: 14px;
        color: #D10024 !important;
    }


    .size-md {
        font-size: 90% !important
    }

</style>
