<template>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Order Details -->
                <div class="col-md-6">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Información</h3>
                        </div>

                        <div class="mb-15">

                            <div v-if="!auth" class="form-group">

                                <div class="caption">
                                    <p>
                                        Para realizar un pedido debes
                                        estar registrado con nosotros.
                                    </p>
                                    <p>
                                        Solo tomara 1 minuto.
                                    </p>
                                    <b-row>
                                        <div class="col-md-12 text-center mt-15 mb-15">
                                            <a href="/register"
                                               class="primary-btn order-submit"
                                               style="outline:transparent">
                                                Registrate ahora y continua con tu pedido
                                            </a>
                                        </div>
                                    </b-row>
                                    <b-row>
                                        <div class="col-md-12 text-center mt-15">
                                            <img src="/landing/img/cintillo-entrega-oficina.png" alt="">
                                        </div>
                                    </b-row>
                                </div>

                            </div>

                            <div v-if="auth" class="row">

                                <div v-if="schedule.length === 1">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="text-center">
                                                <p>
                                                    Lo sentimos por el momento no contamos con horarios de entrega
                                                    disponibles,
                                                    intentelo mas tarde.
                                                </p>

                                                <b-row>
                                                    <div class="col-md-12 text-center mt-15">
                                                        <img src="/landing/img/cintillo-entrega-oficina.png" alt="">
                                                    </div>
                                                </b-row>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div v-if="schedule.length > 1">
                                    <div class="col-md-12">
                                        <div class="data-user">
                                            {{auth.name}}
                                        </div>
                                        <div class="data-user mb-15 ">
                                            Teléfono : {{auth.telephone}}
                                        </div>
                                    </div>

                                    <div class="col-md-8  mb-15">
                                        <b-form-group
                                            id="fieldset-time"
                                            description="El pedido llega el mismo día de ser ordenado,
                                            solo elige un horario disponible,
                                            el pedido podría llegar a demorarse según la carga laboral."
                                            label="Ingresa un horario disponible:"
                                            label-for="input-time"
                                        >

                                            <b-form-select id="input-time"
                                                           class="form-control"
                                                           v-model="order.scheduleSelect"
                                                           :options="schedule"></b-form-select>
                                        </b-form-group>

                                    </div>

                                    <div class="col-md-12 mb-15">
                                        <b-form-group
                                            id="fieldset-map"
                                            description="Para garantizar el servicio, solo se entregan pedidos no mas lejanos a 50 km desde nuestro punto de partida."
                                            label="Ingresa la ubicación de entrega:"
                                            label-for="input-map"
                                        >
                                            <geolocation-map id="input-map" v-model="order.address"/>
                                        </b-form-group>


                                    </div>

                                    <div class="col-md-12 mb-15">
                                        <!-- Order notes -->
                                        <div class="order-notes">
                                            <textarea v-model="order.note" class="input"
                                                      placeholder="Tienes alguna petición especial sobre tu pedido, escríbenos aquí."></textarea>
                                        </div>
                                        <!-- /Order notes -->
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- Order Details -->

                </div>

                <div class="col-md-6 order-details mt-30">
                    <div class="section-title text-center">
                        <h3 class="title">Tu pedido</h3>
                    </div>
                    <div class="order-summary">
                        <hr>
                        <div class="mb-30">
                            <div><strong>Producto</strong></div>
                        </div>

                        <div v-if="shoppingCart.products.length > 0" class="cart-list">
                            <div class="product-widget" v-for="product in shoppingCart.products">
                                <div class="product-img">
                                    <img :src="product.images_path.picture_1" alt="">
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name">
                                        <a href="#"
                                           @click.prevent="goToDetail(product.id)">{{product.name}}
                                        </a>
                                    </h3>
                                    <h4 class="product-price">
                                        <span class="qty">
                                            {{ `${product.qty} ${product.measure === 'Kg' ? 'Kilo':'Pieza'}` }}
                                        </span>
                                        <span>
                                            {{ product.import | currency}}
                                        </span>

                                        <del
                                            class="product-old-price size-md"
                                            v-if="product.discount > 0">
                                            {{product.original_import | currency }}
                                        </del>

                                        <a @click="openModalQty(product.id,product.qty,product.name,product.measure)">(cambiar)</a>

                                    </h4>
                                </div>
                                <button class="delete" @click="removeCart(product.id)"><i class="fa fa-close"></i>
                                </button>
                            </div>
                        </div>
                        <div v-else>
                            <p>
                                Tu carrito de compras de encuentra vació, selecciona productos
                                <a href="/productos">aquí</a>.
                            </p>
                        </div>
                        <hr>

                        <div class="order-col">
                            <div>Envio</div>
                            <div><strong>GRATUITO</strong></div>
                        </div>
                        <div class="order-col">
                            <div>Subtotal</div>
                            <div><strong class="order-subtotal">{{shoppingCart.subtotal | currency}}</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL (+ IVA)</strong></div>
                            <div><strong class="order-total">{{shoppingCart.total | currency}}</strong></div>
                        </div>

                        <div class="order-col">
                            <div>Forma de pago</div>
                            <div>
                                En efectivo
                                {{ !order.money_exchange ? 'sin cambio' : "$"+order.money_exchange }}.

                                <a @click="openModalMoney(false)">(cambiar)</a>
                            </div>


                        </div>

                    </div>
                    <h5>
                        <ul class="list-conditions">

                            <li>Venta minima de $200.00 NMX</li>
                            <li>Se realizará llamada telefónica para confirmar el pedido</li>
                            <li>Pago directo al repartidor</li>
                        </ul>

                    </h5>

                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">

                    </div>
                    <a
                        v-if="auth && schedule.length > 1"
                        @click.prevent="createOrder"
                        class="primary-btn order-submit">Realizar pedido</a>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <div class="modal fade" id="qtyModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modificar cantidad del producto:
                            <br>
                            {{ form.name}} </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="qty-label">
                                    <h5 class="mb-15">Kg</h5>
                                    <div class="input-number">
                                        <input v-model="form.qty" type="number" :step="step">
                                        <span class="qty-up" @click="up">+</span>
                                        <span class="qty-down" @click="down">-</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click.prevent="closeModalQty">Cerrar
                        </button>
                        <button @click.prevent="editCart(form.id)" class="btn btn-danger">
                            Guardar
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="moneyModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Efectivo</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" align="center" v-if="!order.withExchange">
                                <p>
                                    ¿Vas a necesitar cambio?
                                </p>
                            </div>
                            <div v-if="order.withExchange" align="center" class="mlr-15">
                                <b-form-group
                                    id="fieldset-money_exchange"
                                    :description="txtMoneyExchange"
                                    label="¿De cuánto?"
                                    label-for="input-money_exchange"
                                >
                                    <b-form-input
                                        id="input-money_exchange"
                                        v-model="order.money_exchange"
                                        type="number"
                                        placeholder="$0,00"
                                    ></b-form-input>
                                </b-form-group>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div v-if="!order.withExchange">
                            <button
                                type="button" class="btn btn-danger"
                                @click.prevent="nomoney_exchange">
                                No
                            </button>
                            <button
                                @click.prevent="order.withExchange = true" class="btn btn-danger">
                                Si, necesito cambio
                            </button>
                        </div>
                        <div v-if="order.withExchange">
                            <button
                                @click.prevent="nomoney_exchange"
                                class="btn btn-danger"
                            > Sin Cambio
                            </button>
                            <button
                                @click.prevent="saveMoney(true)"
                                class="btn btn-danger"
                            > Guardar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /SECTION -->
</template>

<script>
    import SpinnerMinMax from "../../../components/SpinnerMinMax";
    import GeolocationMap from "../../../components/GeolocationMap";

    export default {
        name: "ShoppingCart",
        props: ['user'],
        components: {GeolocationMap, SpinnerMinMax},
        data() {
            return {
                errors: [],
                step: 0.5,
                schedule: [
                    {value: null, text: 'Elija una opción'},
                ],
                order: {
                    address: {},
                    scheduleSelect: null,
                    note: "",
                    money_exchange: 0,
                    withExchange: false,
                },
                shoppingCart: {
                    products: [],
                    total: 0,
                    subtotal: 0,
                    count: 0,
                },
                form: {
                    id: 0,
                    qty: 0,
                    name: "N/A",
                },
                txtMoneyExchange: "",
                isOnSave: false,
                isAsked: false,
            };
        },
        mounted() {
            Event.$on('UpdateShoppingCart', () => {
                this.loadCart();
            });

            this.loadCart();

            if (this.auth) {
                this.getSchedule();
            }
        },
        computed: {
            auth() {
                if (this.user) {
                    return JSON.parse(this.user) || null;
                }
                return null;
            },

        },
        methods: {

            //Orders
            createOrder() {

                let preOrder = {
                    "address": this.order.address,
                    "schedule": this.order.scheduleSelect,
                    "user_id": this.auth.id,
                    "shoppingCart": this.shoppingCart,
                    "money_exchange": this.order.money_exchange,
                    "note": this.order.note,
                };

                console.log(preOrder)

                if (this.validateOrder(preOrder)) {

                    this.$swal({
                        title: 'Guardando registro',
                        html: 'Cargando ...',
                        onBeforeOpen: () => {
                            this.$swal.showLoading();
                            this.errors = [];

                            //clean shoppingCart
                            this.shoppingCart.products.forEach(product => {
                                delete product.images_path;
                                delete product.reviews;
                                delete product.overall_score;
                                delete product.availability;
                                delete product.category_id;
                                delete product.description;
                                delete product.name;
                                delete product.created_at;
                                delete product.updated_at;
                            });

                            let fmData = new FormData();

                            fmData.append("address", JSON.stringify(preOrder.address));
                            fmData.append("schedule", preOrder.schedule);
                            fmData.append("user_id", this.auth.id);
                            fmData.append("shoppingCart", JSON.stringify(this.shoppingCart));
                            fmData.append("note", preOrder.note);
                            fmData.append("money_exchange", preOrder.money_exchange);

                            axios.post(window.Api.orders.create, fmData)
                                .then(response => {

                                    this.$swal(
                                        'Pedido enviado!',
                                        '¡En breves nos pondremos en contacto con usted.!',
                                        'success'
                                    );
                                    localStorage.removeItem("ShoppingCart");

                                    let order_id = response.data.success.id;

                                    window.location.href = `/pedido/${order_id}`;
                                })
                                .catch(error => {
                                    this.$swal.close();
                                    this.onError(error);
                                });

                        }
                    })
                }
            },

            validateOrder(order) {

                if (!order.schedule) {
                    this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes seleccionar una horario.",
                        showCloseButton: true,
                    });

                    return false;
                }

                if (!order.address ||
                    !order.address.hasOwnProperty("lat") ||
                    !order.address.hasOwnProperty("lng") ||
                    !order.address.hasOwnProperty("address")) {

                    this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes seleccionar una dirección.",
                        showCloseButton: true,
                    });

                    return false;
                }

                if (!order.user_id) {
                    this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes iniciar sesión, o tu sesión a caducado.",
                        showCloseButton: true,
                    });

                    return false;
                }

                if (!order.shoppingCart ||
                    order.shoppingCart.products.length <= 0 ||
                    order.shoppingCart.products.length !== order.shoppingCart.count) {

                    this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Tu carrito de compras esta vacío.",
                        showCloseButton: true,
                    });

                    return false;
                }

                if (!order.shoppingCart ||
                    order.shoppingCart.total < 200) {

                    this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "La compra minima es de $200.00 MNX.",
                        showCloseButton: true,
                    });

                    return false;
                }

                if (!this.isAsked) {
                    this.openModalMoney(true);

                    return false;
                }

                return true;
            },

            changeCart(value) {
                this.form.qty = value;
                Event.$emit('UpdateShoppingCart');
            },

            editCart(id) {
                if (this.form.qty === 0) {
                    return this.$swal({
                        title: `Alerta`,
                        type: 'error',
                        position: "center",
                        text: "Debes seleccionar una cantidad primero",
                        showCloseButton: true,
                    });
                }

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                items.forEach((element) => {
                    if (element.item_id === id) {
                        element.quantity = this.form.qty;

                    }
                });

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                //actualizo carrito

                this.loadCart();

                Event.$emit('UpdateShoppingCart');

                $('#qtyModal').modal('toggle');
            },

            openModalQty(id, qty, name, measure) {

                $('#qtyModal').modal('show');

                this.form.id = id;
                this.form.qty = qty;
                this.form.name = name;
                this.step = measure === 'Kg' ? 0.5 : 1.0;

            },

            closeModalQty() {

                this.form.id = 0;
                this.form.qty = 0;
                this.form.name = "";
                this.form.measure = "";
                $('#qtyModal').modal('toggle');
            },

            nomoney_exchange() {
                $('#moneyModal').modal('toggle');

                this.order.money_exchange = 0;
                this.isAsked = true;

                if (this.isOnSave) {
                    this.createOrder();
                }
            },

            saveMoney(isAsked) {
                this.isAsked = isAsked;

                $('#moneyModal').modal('toggle');

                if (this.isOnSave) {
                    this.createOrder();
                } else {
                    this.order.withExchange = true;
                }
            },

            closeModalMoney() {
                this.order.withExchange = true;
                $('#moneyModal').modal('toggle');
            },

            openModalMoney(isOnSave) {
                this.isOnSave = isOnSave;
                $('#moneyModal').modal('show');
            },


            //Schedule
            async getSchedule() {
                axios.get(window.Api.schedule.getAvailableSchedule)

                    .then(async response => {

                        await response.data.success.forEach(async time => {
                            this.schedule.push({value: await time.id, text: await time.hours})
                        });

                    })
                    .catch(error => console.log(error));
            },


            //Cart
            loadCart() {
                if (localStorage['ShoppingCart'] != null) {

                    axios.post(window.Api.products.getShoppingCart,
                        {
                            ShopCart: localStorage['ShoppingCart']
                        })

                        .then(async response => {

                            this.shoppingCart.products = await response.data.success.items;
                            this.shoppingCart.total = await response.data.success.total;
                            this.shoppingCart.subtotal = await response.data.success.subtotal;
                            this.shoppingCart.count = await response.data.success.count;

                            this.txtMoneyExchange = `Tu pedido tendrá un costo de $${this.shoppingCart.total}.
                            Escribe cuanto vas a pagar en efectivo para que el repartidor lleve tu cambio.`;

                        })
                        .catch(error => console.log(error));
                }
            },

            removeCart(id) {

                let items = JSON.parse(localStorage.getItem("ShoppingCart")) || [];

                let item_id = id;
                let found = items.find(function (productCart) {
                    return productCart.item_id === item_id;
                });

                if (found != null) {
                    items.splice(items.indexOf(found), 1);
                }

                localStorage.setItem("ShoppingCart", JSON.stringify(items));

                Event.$emit('UpdateShoppingCart');
                //  this.search(this.paginate.current_page);

            },

            //spinner
            up() {
                if (isNaN(this.form.qty)) {
                    this.form.qty = this.step;
                }

                this.form.qty = this.form.qty + this.step;
            },

            down() {

                if (isNaN(this.form.qty)) {
                    this.form.qty = this.step;
                }

                this.form.qty = this.form.qty - this.step;
                this.form.qty = this.form.qty < this.step ? 0 : this.form.qty;

            },

            goToDetail(id) {
                window.location.href = "/producto/" + id;
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },
        }

    }
</script>

<style lang="scss" scoped>
    .mlr-15 {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }

    .size-md {
        font-size: 90% !important
    }

    .product-widget {

        .product-img {
            width: 70px;
        }


        .product-price {
            float: right;
            color: #D10024;
        }

        .max-width-input {
            width: 100px;
        }


    }


    .mr-20 {
        margin-right: 20px;
    }


    .mb-25 {
        margin-bottom: 25px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .order-summary .order-col .order-subtotal {
        font-size: 17px;
        color: #D10024;
    }

    .data-user {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }


    .list-conditions {
        font-weight: normal;
        list-style: disc;

        li {
            margin-bottom: 10px;
        }

    }


    /*-- Number input --*/

    .input-number {
        position: relative;

        input[type="number"] {
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            -moz-appearance: textfield;
            height: 40px;
            width: 100%;
            border: 1px solid #E4E7ED;
            background-color: #FFF;
            padding: 0 35px 0 15px;
        }

        .qty-up, .qty-down {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #E4E7ED;
            background-color: #FFF;
            text-align: center;
            font-weight: 700;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .qty-up {
            right: 0;
            top: 0;
            border-bottom: 0;
        }

        .qty-down {
            right: 0;
            bottom: 0;
        }

        .qty-up:hover, .qty-down:hover {
            background-color: #E4E7ED;
            color: #D10024;
        }
    }

    /*-- Select input --*/
</style>
