<template>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-table"></i><label>Pedido</label>
        </div>
        <div class="card-body">


            <div class="management">
                <div class="row mt-5 mb-20 ">

                    <div class="col-md-12">
                        <h5 class="info">
                            <strong>Gestión</strong>
                        </h5>
                    </div>

                    <div class="col-md-4">
                        <b-form-select v-model="statusSelect" :options="statusOptions"></b-form-select>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger" @click="update">Cambiar estatus</button>
                    </div>
                </div>

            </div>

            <div class="divisor"></div>

            <div class="info mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Folio: </strong><span>{{order.id}}</span>
                    </div>
                    <div class="col-md-6">
                        <strong>Fecha: </strong><span>{{new Date(order.created_at).toLocaleDateString("es-ES", DateOptions) }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Cliente: </strong><span>{{order.costumer.name}}</span>
                    </div>
                    <div class="col-md-6">
                        <strong>Teléfono: </strong><span>{{order.costumer.telephone}}</span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <strong>Correo: </strong><span>{{order.costumer.email}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <strong>Nota: </strong><span>{{order.note}}</span>
                    </div>
                </div>

            </div>

            <div class="divisor"></div>

            <div class="products">
                <div class="table-wrapper">
                    <div class="table-title">

                        <div class="row mt-5">
                            <div class="col-sm-4">
                                <h5 class="info">
                                    <strong>Producto solicitado</strong>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <SortedTable class="table table-striped table-hover" :values="products">
                        <thead>

                        <!-- Headers-->
                        <tr>
                            <th scope="col">
                                <SortLink name="name">Producto</SortLink>
                            </th>

                            <th scope="col">
                                <SortLink name="price">C/U</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="quantity">Cantidad</SortLink>
                            </th>

                            <th scope="col">
                                <SortLink name="discount">Descuento</SortLink>
                            </th>

                            <th scope="col">
                                <SortLink name="import">Importe</SortLink>
                            </th>

                        </tr>

                        </thead>
                        <tbody slot="body" slot-scope="sort">
                        <tr v-for="row in sort.values" :key="row.id">

                            <!-- Columns-->
                            <td class="vertical-align-column">
                                <img :src="row.info.images_path.picture_1" alt="image" class="avatar-square">
                                <label>{{ row.info.name }}</label>
                            </td>
                            <td class="vertical-align-column">
                                <label>{{row.price | currency}}</label>
                            </td>
                            <td class="vertical-align-column">
                                <label>{{row.quantity + ' KG' }} </label>
                            </td>

                            <td class="vertical-align-column">
                                <label>{{row.discount_percentage + ' %'}}</label>
                            </td>
                            <td class="vertical-align-column">
                                <label>{{(row.discount_price * row.quantity)| currency}}</label>
                            </td>
                        </tr>
                        </tbody>
                    </SortedTable>


                </div>
            </div>

            <div class="divisor"></div>

            <div class="map info">
                <div class="row mt-5 mb-20">
                    <div class="col-sm-4">
                        <h5 class="info">
                            <strong>Ubicación</strong>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Dirección: </strong><span>{{order.address}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <gmap-map
                            :center="center"
                            :zoom="13"
                            :options="mapOptions"
                            class="size-map"
                        >
                            <gmap-marker
                                :position="location"
                                :clickable="true"
                                :draggable="false"
                            ></gmap-marker>
                        </gmap-map>
                    </div>
                </div>
            </div>

            <div class="divisor"></div>

            <div class="payment info">
                <div class="row mt-5 mb-20 ">

                    <div class="col-md-12">
                        <h5 class="info">
                            <strong>Cobrar</strong>
                        </h5>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-10">
                        <h4 class="cash-withd">
                            <strong>Subtotal:</strong>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h5 class="cash-withd">
                            <span>{{order.subtotal | currency}}</span>
                        </h5>
                    </div>

                    <div class="col-md-10">
                        <h4 class="cash-withd">
                            <strong>Iva: </strong>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h5 class="cash-withd">
                            <span>{{order.total - order.subtotal| currency}}</span>
                        </h5>
                    </div>

                    <div class="col-md-10">
                        <h4 class="cash-withd">
                            <strong>Total:</strong>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h5 class="cash-withd">
                            <span>{{order.total | currency}}</span>
                        </h5>
                    </div>

                    <div class="col-md-10">
                        <h4 class="cash-withd">
                            <strong>Cambio de: </strong>
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h5 class="cash-withd">
                            <span>{{order.money_exchange | currency}}</span>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "FormOrder",
        props: ['data'],
        data() {
            return {
                DateOptions: {year: 'numeric', month: 'long', day: 'numeric'},
                products: [],
                center: {lat: 20.727859, lng: -103.404007},
                location: {lat: 20.727859, lng: -103.404007},
                marker: {},
                mapOptions: {
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: true,
                    fullscreenControl: true,
                    disableDefaultUi: false
                },
                statusSelect: null,
                statusOptions: [
                    {text: 'Seleccione una opción', value: null},
                    {text: "Sin atender", value: "Enviado"},
                    {text: "En camino", value: "En camino"},
                    {text: "Entregado", value: "Recibido"},
                    {text: "Conflicto", value: "Conflicto"},

                ],
            }
        },

        beforeCreate() {
            if (!("geolocation" in navigator)) {
                console.log('Geolocation is not available.');
                return;
            }

        },

        computed: {
            order() {
                let O = JSON.parse(this.data);
                this.products = O.products;

                this.location = {
                    lat: parseFloat(O.lat),
                    lng: parseFloat(O.lng),
                };
                this.center = this.location;

                this.getStatus(O.status);

                return O;
            }
        },
        methods: {
            getStatus(status) {
                this.statusSelect = status;

                switch (status) {
                    case "Enviado":
                        status = "Sin atender";
                        break;
                    case "En camino":
                        status = "En camino";
                        break;
                    case "Recibido":
                        status = "Entregado";
                        break;
                    case "Conflicto":
                        status = "Conflicto";
                        break;

                }

                return status
            },

            update() {

                this.$swal({
                    title: 'Actualizando pedido',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();
                        fmData.append("status", this.statusSelect);

                        axios.post(`${window.Api.orders.edit}/${this.order.id}`, fmData)
                            .then(response => {
                                this.$swal.close();
                                this.$swal(
                                    'Guardado!',
                                    'Pedido actualizado',
                                    'success'
                                );

                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error)
                            });

                    }
                });

            }
        }
    }
</script>

<style scoped>

    .cash-withd {
        width: 400px;
        float: left
    }

    .info {
        color: #2f353a !important;
    }

    .divisor {
        padding-bottom: 0;
        margin: 15px 0 0;
        border-bottom: 1px solid #eee;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px;
        border-top: 1px solid #464444;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }

    .avatar-square {
        height: 70px;
        width: 70px;
    }

    .vertical-align-column {
        vertical-align: inherit;
    }

    @media (min-width: 992px) {
        .search-btn {
            margin-top: 0 !important;
        }
    }

    .size-map {
        width: 100%;
        height: 200px;
    }

</style>
