<template>
    <div class="card">
        <div id="top" class="card-header">
            <i class="fa fa-table"></i><label>Reporte de pedidos</label>
        </div>
        <div class="card-body">
            <div class="content">

                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="mb-4">Reporte <b>Pedidos</b></h2>
                            </div>
                        </div>


                        <div id="up" class="map info">
                            <div class="row mb-20">
                                <div class="col-sm-4">
                                    <h5 class="info">
                                        <strong>Mapa</strong>
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <gmap-map
                                        :center="center"
                                        :zoom="12"
                                        :options="mapOptions"
                                        class="size-map"
                                    >

                                        <gmap-marker
                                            :key="index"
                                            v-for="(map, index) in markers"
                                            :position="map"
                                            @click="showInfo(map)"
                                            :draggable="false"
                                            :clickable="true"
                                        ></gmap-marker>

                                    </gmap-map>
                                </div>
                            </div>
                        </div>

                        <div class="directions">
                            <div class="row mb-20">
                                <div class="col-sm-4">
                                    <h5 class="info">
                                        <strong>Direcciónes</strong>
                                    </h5>
                                </div>
                            </div>
                            <div

                                :class="markerSelected === order.id ? 'info focus markerSelected':'info focus'"
                                :id="'info-'+order.id"
                                @click="markerSelected = null"
                                v-for="order in orders">

                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Folio: </strong><span>{{order.id}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Fecha: </strong><span>{{new Date(order.created_at).toLocaleDateString("es-ES", DateOptions) }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Cliente: </strong><span>{{order.costumer.name}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Teléfono: </strong><span>{{order.costumer.telephone}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Correo: </strong><span>{{order.costumer.email}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Entregar a las: </strong><span>{{order.time.hours}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Dirección: </strong><span>{{order.address}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Nota: </strong><span>{{order.note}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="offset-6">
                                    </div>
                                    <div class="col-md-6">
                                        <button
                                            class="btn btn-link"
                                            @click="setCenter(order)">
                                            Ubicar
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="offset-10"></div>
                            <div class="col-md-2">
                                <a href="/dashboard/pedidos"
                                   class="mt-3 btn btn-secondary btn-fill text-white btn_movil">
                                    Regresar
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ReportOrders",
        data() {
            return {
                DateOptions: {year: 'numeric', month: 'long', day: 'numeric'},
                scheduleSelect: null,
                schedule: [{id: null, text: 'Todo'}],
                center: {lat: 20.727859, lng: -103.404007},
                markers: [],
                markerSelected: null,
                mapOptions: {
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: true,
                    fullscreenControl: true,
                    disableDefaultUi: false
                },
                orders: [],
            }
        },
        beforeCreate() {
            if (!("geolocation" in navigator)) {
                console.log('Geolocation is not available.');
                return;
            }

        },

        created() {

            this.getGeolocation();

            this.list();
        },

        mounted() {
            setInterval(() => {
            //    this.list()
            }, 10000);
        },

        methods: {

            async list(page) {
                await axios.get(window.Api.orders.show, {
                    params: {
                        page: page,
                        search: this.search,
                        schedule: this.scheduleSelect,
                        all: true
                    }
                })
                    .then(async response => {

                        response = response.data.success;

                        this.schedule = [{id: null, text: 'Todo'}];

                        await response.schedule.forEach(time => {
                            this.schedule.push({id: time.id, text: time.hours})
                        });

                        this.orders = await response.orders;

                        this.markers = [];

                        await this.orders.forEach(order => {
                            let marker = {
                                lat: parseFloat(order.lat),
                                lng: parseFloat(order.lng),
                                order_id: order.id
                            };

                            this.markers.push(marker);
                        });
                    })
                    .catch(error => console.log(error));
            },

            setSchedule(schedule_id) {
                this.scheduleSelect = schedule_id;
                this.list();
            },

            showInfo(location) {
                this.center = location;
                this.markerSelected = location.order_id;
                window.location.href = `#info-${location.order_id}`;
            },

            setCenter(order) {
                this.center = {
                    lat: parseFloat(order.lat),
                    lng: parseFloat(order.lng),
                    order_id: order.id
                };
                this.markerSelected = order.id;

                window.location.href = `#top`;
            },

            async getGeolocation() {
                // get position
                await navigator.geolocation.getCurrentPosition(async position => {
                        this.center = {
                            lat: await position.coords.latitude,
                            lng: await position.coords.longitude
                        };
                    },
                    async err => console.log(await err.message));
            },


        }
    }
</script>

<style scoped>
    .info {
        color: #2f353a !important;
        padding: 10px 10px 0 10px;
    }

    .size-map {
        width: 100%;
        height: 200px;
    }

    .directions {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .markerSelected {
        background-color: lightgray;
    }

    .focus:hover {
        background-color: lightgray;
    }
</style>
