<template>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-table"></i><label>Pedidos</label>
        </div>
        <div class="card-body">
            <div class="content">

                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="mb-4">Lista <b>Pedidos</b></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <a  href="/dashboard/pedidos/reporte" class="btn btn-danger mb-3">Reporte de envios</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="number_records">
                                    <b-form-select
                                        v-model="perPage.selected"
                                        :options="perPage.options"
                                        class="mb-3 form-select width-40"
                                        @change="list(paginate.current_page = 1)"
                                    ></b-form-select>
                                </div>
                            </div>
                            <div class="offset-4"></div>
                            <div class="col-sm-6">
                                <div class="search-box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input
                                        v-model="search"
                                        v-on:keyup="list"
                                        type="text"
                                        class="form-control"
                                        placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="nav-item" v-for="time in schedule">
                            <a :class="scheduleSelect === time.id ? 'nav-link active' : 'nav-link'"
                               @click="setSchedule(time.id)">{{time.text}}</a>
                        </li>
                    </ul>

                    <SortedTable class="table table-striped table-hover" :values="data">
                        <thead>

                        <!-- Headers-->
                        <tr>
                            <th scope="col">
                                <SortLink name="id">Folio</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="status">Estatus</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="total">Total</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="costumer.name">Cliente</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="created_at">Solicitado el:</SortLink>
                            </th>
                            <th>Acciones</th>
                        </tr>

                        </thead>
                        <tbody slot="body" slot-scope="sort">
                        <tr v-for="row in sort.values" :key="row.id">
                            <!-- Columns-->
                            <td>
                                {{ row.id }}
                            </td>
                            <td>
                                {{ getStatus(row.status) }}
                            </td>
                            <td>
                                {{ row.total | currency }}
                            </td>
                            <td>
                                {{ row.costumer.name }}
                            <td>
                                {{ new Date(row.created_at).toLocaleDateString("es-ES", DateOptions) }}
                            </td>
                            <!-- Actions-->

                            <td>
                                <a href="#"
                                   @click.prevent="detail(row.id)"
                                   class="settings" title="Settings"
                                   data-toggle="tooltip">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>

                                <a
                                    href="#"
                                    @click.prevent="openCancelModal(row.id)"
                                    class="delete"
                                    title="Delete"
                                    data-toggle="tooltip">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>


                            </td>
                        </tr>
                        </tbody>
                    </SortedTable>


                    <div class="clearfix">

                        <div class="hint-text">Mostrando
                            <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
                        </div>

                        <paginate
                            :page-count="paginate.last_page"
                            :click-handler="list"
                            :prev-link-class="'fa fa-angle-double-left'"
                            :next-link-class="'fa fa-angle-double-right'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link'"
                            :prev-text="''"
                            :next-text="''"
                        >
                        </paginate>


                    </div>


                    <b-modal id="cancelModal" hide-footer>
                        <template slot="modal-title">
                            Cancelar pedido #{{modalCancel.order_id}}
                        </template>
                        <div class="d-block pl-3 pr-3">
                            <form @submit.prevent="cancel">

                                <div class="row">
                                    <div class="col-md-12">
                                        <b-form-group
                                            id="fieldset-1"
                                            description="Describele al cliente el motivo por el cual estas cancelando su pedido."
                                            label="Motivo de cancelación"
                                            label-for="input-note"

                                        >
                                            <b-form-textarea
                                                id="input-note"
                                                v-model="modalCancel.note"
                                                placeholder="Ingresa el motivo"
                                                rows="3"
                                                max-rows="6"
                                                required
                                            ></b-form-textarea>

                                        </b-form-group>
                                    </div>
                                </div>
                                <footer class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            @click.prevent="closeCancelModal">Cerrar
                                    </button>
                                    <button type="submit"
                                            class="btn btn-danger">Cancelar pedido
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </b-modal>


                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TableUsers",
        data() {
            return {
                data: [], // carga de registros
                DateOptions: {year: 'numeric', month: 'long', day: 'numeric'},
                scheduleSelect: null,
                schedule: [{id: null, text: 'Todo'}],
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '5',
                    options: [
                        {value: 5, text: '5'},
                        {value: 10, text: '10'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },
                search: '',
                searching: false,
                modalCancel: {
                    order_id: 0,
                    note: ""
                }
            }
        },

        created() {
            this.list();
        },
        mounted() {
            setInterval(() => {
                this.list(this.paginate.current_page)
            }, 10000);
        },

        methods: {

            async list(page) {
                await axios.get(window.Api.orders.show, {
                    params: {
                        page: page,
                        search: this.search,
                        per_page: this.perPage.selected,
                        schedule: this.scheduleSelect
                    }
                })
                    .then(async response => {

                        response = response.data.success;

                        this.schedule = [{id: null, text: 'Todo'}];

                        await response.schedule.forEach(time => {
                            this.schedule.push({id: time.id, text: time.hours})
                        });

                        let orders = await response.orders;

                        this.data = orders.data;
                        this.paginate.total = orders.total;
                        this.paginate.current_page = orders.current_page;
                        this.paginate.per_page = orders.per_page;
                        this.paginate.last_page = orders.last_page;
                        this.paginate.from = orders.from;
                        this.paginate.to = orders.to;


                    })
                    .catch(error => console.log(error));
            },

            detail(id) {
                window.location.href = 'pedidos/detalle/' + id;
            },
            cancel() {

                this.$bvModal.hide("cancelModal");

                axios.delete(`${window.Api.orders.cancel}/${this.modalCancel.order_id}`, {
                    params: {
                        note: this.modalCancel.note
                    }
                })
                    .then(response => {

                        if (this.data.length === 1) {
                            this.setSchedule(null);
                        } else {
                            this.list(this.paginate.current_page);
                        }

                        this.$swal(
                            'Cancelado!',
                            'Pedido cancelado',
                            'success'
                        );
                    })
                    .catch(error => this.onError(error));

            },


            setSchedule(schedule_id) {
                this.scheduleSelect = schedule_id;
                this.list();
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

            getStatus(status) {

                switch (status) {
                    case "Enviado":
                        status = "Sin atender";
                        break
                }

                return status
            },

            openCancelModal(id) {
                this.modalCancel.order_id = id;
                this.modalCancel.note = "";
                this.$bvModal.show("cancelModal")
            },

            closeCancelModal() {
                this.modalCancel.order_id = 0;
                this.modalCancel.note = "";
                this.$bvModal.hide("cancelModal")
            }
        }
    }
</script>

<style scoped></style>
