<template>

    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Ubicación</h3>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>María C. Bancalari #3045 col. Echeverria</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+3322-250-6664</a></li>
                                <li><a href="mailto:carniceriarodriguez3045@outlook.es"><i class="fa fa-envelope-o"></i>carniceriarodriguez3045@outlook.es</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categoria</h3>
                            <ul class="footer-links">
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Productos</a></li>
                                <li><a href="#">Pedidos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Mi cuenta</h3>
                            <ul class="footer-links">
                                <li><a href="#">Iniciar sesión</a></li>
                                <li><a href="#">Mis pedidos</a></li>
                                <li><a href="#">Mi carrito</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">

                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;{{new Date().getFullYear()}} Todos los derechos reservados | Desarrollado por <a
                        href="https://colorlib.com" target="_blank">PRO-HARM</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
</template>

<script>
    export default {
        name: "landingFooter"
    }
</script>

<style scoped>

</style>
