<template>
    <div>
        <div class="data-user  mb-15">
            <div class="row">
                <div class="col-md-9 pl-0">
                    <gmap-autocomplete
                        class="form-control pr-0"
                        @place_changed="setPlace">
                    </gmap-autocomplete>
                </div>
                <div class="col-md-2 text-center  pl-1">
                    <button class="btn btn-danger search-btn" @click="addMarker">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                        Buscar
                    </button>

                </div>
            </div>

        </div>
        <gmap-map
            ref="mapRef"
            :center="center"
            :zoom="13"
            :options="mapOptions"
            class=" size-map "
        >
            <gmap-marker
                :position="marker.position"
                :clickable="true"
                :draggable="true"
                @dragend="dragendMarker"
                @click="center = marker.position"
            ></gmap-marker>
        </gmap-map>

    </div>
</template>

<script>


    export default {
        name: "GeolocationMap",
        data() {
            return {
                address_text: "",
                currentPlace: null,
                center: {lat: 20.727859, lng: -103.404007},
                marker: {},
                mapOptions: {
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: true,
                    fullscreenControl: true,
                    disableDefaultUi: false
                }

            }
        },
        beforeCreate() {
            if (!("geolocation" in navigator)) {

                console.log('Geolocation is not available.');
                return;
            }

            // get position
              navigator.geolocation.getCurrentPosition(async position => {
                    this.center = {
                        lat: await position.coords.latitude,
                        lng: await position.coords.longitude
                    };
                },
                async err => console.log(await err.message));
        },
        methods: {

            setPlace(place) {
                this.currentPlace = place;
            },

            dragendMarker(marker) {

                this.$emit('input', {
                        lat: marker.latLng.lat(),
                        lng: marker.latLng.lng(),
                        address: this.address_text,
                    }
                );

            },
            addMarker() {
                this.$swal({
                    title: '',
                    html: '<b></b>',
                    onBeforeOpen: () => {

                        const content = this.$swal.getContent();

                        let b = content.querySelector('b');

                        b.textContent = "Cargando ..."


                        this.$swal.showLoading();

                        if (this.currentPlace) {

                            this.address_text = this.currentPlace.formatted_address;

                            let marker = {
                                lat: this.currentPlace.geometry.location.lat(),
                                lng: this.currentPlace.geometry.location.lng(),
                                address: this.address_text,
                            };

                            this.$emit('input', marker);

                            this.marker = {position: marker};
                            this.center = marker;
                            this.currentPlace = null;
                        }
                        this.$swal.disableLoading();

                        this.$swal.close();

                        b.textContent = "Ubicacion cargada"
                    }
                }).catch(error => {
                    this.$swal.close();
                });

            },

            async getGeolocation() {
                // get position
                await navigator.geolocation.getCurrentPosition(async position => {
                        this.center = {
                            lat: await position.coords.latitude,
                            lng: await position.coords.longitude
                        };
                    },
                    async err => console.log(await err.message));
            },
        }




    }
</script>

<style scoped>

    @media (min-width: 992px) {
        .search-btn {
            margin-top: 0 !important;
        }
    }

    .size-map {
        width: 100%;
        height: 300px;
    }

    .pl-1 {
        padding-left: 1px !important;
    }

    .pr-0 {
        padding-right: 0 !important;
    }

    .size-map {
        width: 100%;
        height: 300px;
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .search-btn {
        margin-top: 5px;
    }

</style>
