<template>
    <div>
        <div id="sideNavigation" class="sidenav sidenav-mobil">
            <a href="" class="closebtn" @click.prevent="closeNav">&times;</a>

            <a class="beef_white font-medium-bold" href="/">Inicio</a>

            <a class="beef_white font-medium-bold" href="/productos">Producto</a>

            <a v-if="is_auth" class="beef_white font-medium-bold" href="/pedidos">Mis pedidos</a>

            <a v-if="is_auth" class="beef_white font-medium-bold" href="/perfil">Mi cuenta</a>

            <a class="beef_white font-medium-bold" href="/carrito">Carrito</a>

            <a v-if="is_auth" class="beef_white font-medium-bold" href="/dashboard">Administrador</a>

        </div>

        <nav class="topnav sidenav-mobil">
            <a href="#" @click="openNav">
                <svg width="30" height="30" id="icoOpen">
                    <path d="M0,5 30,5" stroke="#fff" stroke-width="3"/>
                    <path d="M0,14 30,14" stroke="#fff" stroke-width="3"/>
                    <path d="M0,23 30,23" stroke="#fff" stroke-width="3"/>
                </svg>
            </a>
        </nav>
    </div>
</template>

<script>

    export default {
        name: "navigationMenuMobil",
        props: ['is_auth'],
       mounted(){
       },
        methods: {
            openNav() {
                document.getElementById("sideNavigation").style.width = "250px";
            },

            closeNav() {
                document.getElementById("sideNavigation").style.width = "0";
            }
        }
    }
</script>

<style lang="scss" scoped>

    @media (min-width: 991px) {
        .sidenav-mobil {
            display: none !important;
        }

    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 999; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: #c7140e !important;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    /* Add a black background color to the top navigation */
    .topnav {
        background-color: transparent;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        color: black;
    }


    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }

    a svg {
        transition: all .5s ease;

        &:hover {
            #transform: rotate(180deg);
        }
    }

    #ico {
        display: none;
    }

    .menu {
        background: #000;
        display: none;
        padding: 5px;
        width: 320px;

        #transition: all 0.5s ease;

        a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 10px 2px;
            margin: 3px 0;
            text-decoration: none;
            background: #444;

            &:nth-child(1) {
                margin-top: 0;
            }

            &:nth-child(5) {
                margin-bottom: 0;
            }

            &:hover {
                background: #555;
            }
        }
    }
</style>
