<template>
    <div  class="review-rating">

        <i v-if="score >= 1" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o empty"></i>

        <i v-if="score >= 2" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o empty"></i>

        <i v-if="score >= 3" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o empty"></i>

        <i v-if="score >= 4" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o empty"></i>

        <i v-if="score >= 5" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o empty"></i>

    </div>
</template>

<script>
    export default {
        name: "ratingStartsRed",
        props: {
            score: {
                default: 0
            },

        },
    }
</script>

<style scoped>

</style>
