<template>
    <div  :class="class_style">

        <i v-if="score >= 1" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o"></i>

        <i v-if="score >= 2" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o"></i>

        <i v-if="score >= 3" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o"></i>

        <i v-if="score >= 4" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o"></i>

        <i v-if="score >= 5" class="fa fa-star"></i>
        <i v-else class="fa fa-star-o"></i>

    </div>
</template>

<script>
    export default {
        name: "ratingStarts",
        props: {
            score: {
                default: 0
            },
            class_style: {
                default: "rating-stars"
            },

        },
    }
</script>

<style scoped>

</style>
