<template>
    <div>
        <label>{{title}}</label>
        <b-form-file
            v-model="picture"
            :state="state"
            :placeholder="placeholder"
            :drop-placeholder="dropPlaceholder"
            :accept="accept"
            @input="uploadImage"
        ></b-form-file>
        <div class="mt-3">Vista Previa:
            <img :src="!picture ? defaultImg: prev_picture " alt="image" class="ml-3 avatar avatar-square">
        </div>
    </div>


</template>

<script>
    export default {
        name: "singleImageUpload",
        props: {
            title: {
                type: String,
                default: ""
            },
            placeholder: {
                type: String,
                default: ""
            },
            dropPlaceholder: {
                type: String,
                default: ""
            },
            defaultImg: {
                type: String,
                default: ""
            },
            accept: {
                type: String,
                default: ""
            }

        },
        data() {
            return {
                picture: null,
                prev_picture: null,
                state: null
            }
        },
        methods: {
            uploadImage(file) {

                if (file) {

                    let reader = new FileReader();

                    reader.addEventListener("load", function () {
                        this.prev_picture = reader.result;
                        this.$emit('input', {
                            image: this.prev_picture,
                            file: file
                        });
                    }.bind(this), false);

                    reader.readAsDataURL(file);
                    this.state = true;
                } else {
                    this.state = false;
                }
            },
        }

    }
</script>

<style scoped>
    .avatar-square {
        height: 80px;
        width: 80px;
        border-radius: 20%;
        vertical-align: middle;
    }

</style>
