<template>
    <div class="input-number">
        <input v-model="valueSpinner" type="number" :step="step" @change="change">
        <span class="qty-up" @click="up">+</span>
        <span class="qty-down" @click="down">-</span>
    </div>
</template>

<script>
    export default {
        name: "SpinnerMinMax",
        props: {
            step: {
                default: 1,
            }
        },
        data() {
            return {
                value: 0,
            }
        },
        computed: {
            valueSpinner() {
                return this.value;
            }
        },
        watch: {
            value(val) {
                return this.value = val;
            }
        },

        methods: {

            up() {
                if (isNaN(this.value)) {
                    this.value = this.step;
                }

                this.value = this.value + this.step;

                this.$emit('input', this.value);
                this.$emit('change', this.value);
            },
            down() {

                if (isNaN(this.value)) {
                    this.value = this.step;
                }

                this.value = this.value - this.step;
                this.value = this.value < this.step ? 0 : this.value;

                this.$emit('input', this.value);
                this.$emit('change', this.value);

            },
            change() {
                this.$emit('change', this.value);
            }
        }
    }
</script>

<style lang="scss" scoped>
    /*-- Number input --*/

    .input-number {
        position: relative;

    input[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                                       -webkit-appearance: none;
                                       margin: 0;
                                   }

    -moz-appearance: textfield;
    height: 40px;
    width: 100%;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    padding: 0 35px 0 15px;
    }

    .qty-up, .qty-down {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #E4E7ED;
        background-color: #FFF;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .qty-up {
        right: 0;
        top: 0;
        border-bottom: 0;
    }

    .qty-down {
        right: 0;
        bottom: 0;
    }

    .qty-up:hover, .qty-down:hover {
        background-color: #E4E7ED;
        color: #D10024;
    }
    }

    /*-- Select input --*/
</style>
