<template>

    <div class="container m-50">
        <form @submit.prevent="update">
            <h3 class="mb-3">Información</h3>

            <div class="row">
                <div class="col-md-3">
                    <label> Nombre</label>
                    <input v-model="user.name"
                           class="form-control"
                           type="text"
                           :readonly="setReadonly"
                           placeholder="Complete el campo">
                    <span v-if="errors.name" class="error">{{errors.name[0]}}</span>
                </div>

                <div class="col-md-4">
                    <label> Correo Electrónico</label>
                    <input v-model="user.email"
                           class="form-control"
                           type="text"
                           :readonly="true"
                           placeholder="Complete el campo">
                </div>

                <div class="col-md-3">
                    <label> Teléfono</label>
                    <input v-model="user.telephone"
                           class="form-control"
                           type="number"
                           :readonly="setReadonly"
                           placeholder="Complete el campo">
                    <span v-if="errors.telephone" class="error">{{errors.telephone[0]}}</span>
                </div>
            </div>

            <div class="row mt-3">

                <button v-if="!changePassword"
                        @click.prevent="changePassword = true"
                        style="outline:transparent"
                        class="btn btn-link">Cambiar contraseña.
                </button>


                <div v-if="changePassword" class="col-md-3">
                    <label> Contraseña</label>
                    <input v-model="user.password"
                           class="form-control"
                           type="password"
                           :readonly="setReadonly"
                           placeholder="Complete el campo">
                    <span v-if="errors.password" class="error">{{errors.password[0]}}</span>
                </div>

                <div v-if="changePassword" class="col-md-3">
                    <label> Confirmar contraseña</label>
                    <input v-model="user.confirm_password"
                           class="form-control"
                           type="password"
                           :readonly="setReadonly"
                           placeholder="Complete el campo">
                    <span v-if="errors.confirm_password" class="error">{{errors.confirm_password[0]}}</span>
                </div>

                <button v-if="changePassword"
                        @click.prevent="changePassword = false"
                        style="outline:transparent"
                        class="btn btn-link cancel-password">Cancelar
                </button>

            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button
                        type="submit"
                        v-if="!setReadonly && edit_mode || !edit_mode"
                        style="outline:transparent"
                        class="mt-3 primary-btn order-submit">
                        {{edit_mode ? 'Guardar cambios' : 'Guardar'}}
                    </button>

                    <button
                        v-if="edit_mode"
                        type="button"
                        class="mt-3 primary-btn order-submit order-secondary"
                        style="outline:transparent"
                        @click.prevent="setReadonly = !setReadonly"
                    >
                        {{setReadonly ? ' Modo edición' : 'Cancelar'}}
                    </button>

                </div>

            </div>

        </form>
    </div>


</template>

<script>
    export default {
        name: "Profile",
        props: ['auth_data'],
        data() {
            return {
                errors: [],
                user: {
                    id: 0,
                    name: "",
                    email: "",
                    telephone: "",
                    password: "",
                    confirm_password: "",

                },
                setReadonly: true,
                edit_mode: true,
                changePassword: false,
            }
        },
        created() {
            this.user.id = this.auth.id;
            this.user.name = this.auth.name;
            this.user.email = this.auth.email;
            this.user.telephone = this.auth.telephone
        },
        computed: {
            auth() {
                return JSON.parse(this.auth_data);
            }
        }
        ,
        methods: {

            update() {
                this.$swal({
                    title: 'Guardando cambios',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();

                        fmData.append("name", this.user.name);
                        fmData.append("telephone", this.user.telephone);

                        if (this.user.password && this.user.confirm_password) {
                            fmData.append("password", this.user.password);
                            fmData.append("confirm_password", this.user.confirm_password);
                        }

                        axios.post(`${window.Api.users.update}/${this.user.id}`, fmData)
                            .then(response => {
                                this.edit_mode = true;
                                this.setReadonly = true;
                                this.$swal.close();
                                this.$swal(
                                    'Guardado!',
                                    'Registro actualizado',
                                    'success'
                                );


                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error);
                            })


                    }
                })
            },
            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        console.log(this.errors);
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

        }
    }
</script>

<style scoped>
    .mt-3 {
        margin-top: 30px
    }

    .m-50 {
        margin: 50px
    }

    .order-secondary {
        background-color: #59615f;
    }

    .cancel-password {
        position: relative;
        top: 30px;
    }
</style>
