<template>
    <form @submit.prevent="validateForm">

        <h3 class="mb-3">Datos de producto</h3>

        <div class="row mt-3">
            <div class="col-md-4">
                <label> Nombre del producto</label>
                <input v-model="product.name"
                       class="form-control"
                       type="text"
                       placeholder="Complete el campo">
                <span v-if="errors.name" class="error">{{errors.name[0]}}</span>
            </div>

            <div class="col-md-2">
                <label> Precio / kg $</label>
                <input v-model="product.price"
                       class="form-control"
                       type="number"
                       placeholder="Complete el campo">
                <span v-if="errors.price" class="error">{{errors.price[0]}}</span>
            </div>

            <div class="col-md-2">
                <label> Descuento %</label>
                <input v-model="product.discount"
                       class="form-control"
                       type="number"
                       placeholder="Complete el campo">
                <span v-if="errors.discount" class="error">{{errors.discount[0]}}</span>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-8">
                <label> Descripción</label>
                <b-form-textarea
                    id="textarea"
                    v-model="product.description"
                    placeholder="Ingrese una descripción"
                    rows="3"
                    max-rows="6"
                ></b-form-textarea>

                <span v-if="errors.description" class="error">{{errors.description[0]}}</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <label>Categorias</label>
                <b-form-select v-model="product.category_id"
                               :options="categories"
                               required
                ></b-form-select>
                <span v-if="errors.category_id" class="error">{{errors.category_id[0]}}</span>
            </div>
            <div class="col-md-3">
                <label>Medida</label>
                <b-form-select v-model="product.measure"
                               :options="measures"
                               required
                ></b-form-select>
                <span v-if="errors.measure" class="error">{{errors.measure[0]}}</span>
            </div>
            <div class="col-md-3">
                <label>Disponibilidad</label>
                <b-form-select v-model="product.availability"
                               :options="optionsAvailability"
                               required>
                </b-form-select>
                <span v-if="errors.availability" class="error">{{errors.availability[0]}}</span>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5">
                <single-image-upload
                    v-model="product.picture_1"
                    title="Primera imagen *"
                    :defaultImg="defaultImg1 ? defaultImg1 :defaultImg"
                    placeholder="Elija un archivo o suéltelo aquí."
                    drop-placeholder="Suelte el archivo aquí ..."
                    accept="image/*"
                />
            </div>
            <div class="col-md-5">

                <single-image-upload
                    v-model="product.picture_2"
                    title="Segunda imagen"
                    :defaultImg="defaultImg2 ? defaultImg2 :defaultImg"
                    placeholder="Elija un archivo o suéltelo aquí."
                    drop-placeholder="Suelte el archivo aquí ..."
                    accept="image/*"
                />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5">
                <single-image-upload
                    v-model="product.picture_3"
                    title="Tercera imagen"
                    :defaultImg="defaultImg3 ? defaultImg3 :defaultImg"
                    placeholder="Elija un archivo o suéltelo aquí."
                    drop-placeholder="Suelte el archivo aquí ..."
                    accept="image/*"
                />
            </div>
            <div class="col-md-5">
                <single-image-upload
                    v-model="product.picture_4"
                    title="Cuarta imagen"
                    :defaultImg="defaultImg4 ? defaultImg4 :defaultImg"
                    placeholder="Elija un archivo o suéltelo aquí."
                    drop-placeholder="Suelte el archivo aquí ..."
                    accept="image/*"
                />
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-5">
                <button
                    type="submit"
                    class="mt-3 btn btn btn-danger  btn-fill text-white btn_movil">
                    {{edit_mode ? 'Guardar cambios' : 'Guardar'}}
                </button>


            </div>
            <div class="offset-5"></div>

            <div class="col-md-2">
                <a href="/dashboard/productos"
                   class="mt-3 btn btn-secondary btn-fill text-white btn_movil">
                    Regresar
                </a>
            </div>
        </div>
    </form>
</template>

<script>
    import SingleImageUpload from "../../../components/singleImageUpload";

    export default {
        name: "FormProducts",
        components: {SingleImageUpload},
        props: ['data_edit'],
        data() {
            return {
                edit_mode: false,
                errors: [],
                optionsAvailability: [
                    {value: null, text: 'Seleccione una opción'},
                    {text: "Si", value: 1},
                    {text: "No", value: 0},
                ],
                categories: [
                    {value: null, text: 'Seleccione una opción'},
                ],
                measures: [
                    {value: null, text: 'Seleccione una opción'},
                    {value: "Kg", text: 'Kg'},
                    {value: "Pza", text: 'Pza'},
                ],
                defaultImg: "/admin/img/prev-product.png",
                defaultImg1: null,
                defaultImg2: null,
                defaultImg3: null,
                defaultImg4: null,
                product: {
                    id: 0,
                    name: "",
                    description: "",
                    price: 0,
                    discount: 0,
                    measure: null,
                    picture_1: null,
                    picture_2: null,
                    picture_3: null,
                    picture_4: null,
                    category_id: null,
                    availability: null,
                },
            }
        },
        async created() {

            await this.getCategories();

            if (!!this.data_edit) {

                this.edit_mode = true;

                let product_edit = JSON.parse(this.data_edit);

                this.product.id = product_edit.id;
                this.product.name = product_edit.name;
                this.product.description = product_edit.description;
                this.product.discount = product_edit.discount;
                this.product.price = product_edit.price;
                this.product.measure = product_edit.measure;

                this.defaultImg1 = product_edit.images_path.picture_1;
                this.defaultImg2 = product_edit.images_path.picture_2;
                this.defaultImg3 = product_edit.images_path.picture_3;
                this.defaultImg4 = product_edit.images_path.picture_4;

                this.product.category_id = this.categories.find(r => {
                    return r.value === product_edit.category_id;
                }).value;

                this.product.availability = this.optionsAvailability.find(r => {

                    return parseInt(r.value) === parseInt(product_edit.availability);
                }).value;
            }
        },
        methods: {
            validateForm() {

                if (this.edit_mode) {
                    this.update();
                } else {
                    this.create();
                }
            },

            create() {
                this.$swal({
                    title: 'Guardando registro',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();
                        fmData.append("name", this.product.name);
                        fmData.append("description", this.product.description);
                        fmData.append("price", this.product.price);
                        fmData.append("discount", this.product.discount);
                        fmData.append("measure", this.product.measure);

                        if (this.product.availability !== null) {
                            fmData.append("availability", this.product.availability);
                        }
                        if (this.product.category_id) {
                            fmData.append("category_id", this.product.category_id);
                        }
                        if (this.product.picture_1) {
                            fmData.append("picture_1", this.product.picture_1.file);
                        } else {
                            this.$swal.close();
                            this.$swal({
                                title: `Alerta`,
                                type: 'error',
                                toast: true,
                                position: "center",
                                text: "Debes seleccionar la primera imagen",
                                showCloseButton: true,
                            });
                            return false;
                        }
                        if (this.product.picture_2) {
                            fmData.append("picture_2", this.product.picture_2.file);
                        }
                        if (this.product.picture_3) {
                            fmData.append("picture_3", this.product.picture_3.file);
                        }
                        if (this.product.picture_4) {
                            fmData.append("picture_4", this.product.picture_4.file);
                        }

                        axios.post(window.Api.products.create, fmData
                        )
                            .then(response => {

                                window.location.href = "/dashboard/productos/";
                                this.$swal(
                                    'Guardado!',
                                    'Registro guardado',
                                    'success'
                                );

                            })
                            .catch(error => this.onError(error))
                            .finally(() => this.$swal.close())
                    }
                })
            },

            update() {
                this.$swal({
                    title: 'Guardando cambios',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];


                        let fmData = new FormData();
                        fmData.append("name", this.product.name);
                        fmData.append("description", this.product.description);
                        fmData.append("price", this.product.price);
                        fmData.append("discount", this.product.discount);
                        fmData.append("measure", this.product.measure);
                        fmData.append("availability", this.product.availability);

                        if (this.product.availability) {
                            fmData.append("availability", this.product.availability);
                        }
                        if (this.product.category_id) {
                            fmData.append("category_id", this.product.category_id);
                        }
                        if (this.product.picture_1) {
                            fmData.append("picture_1", this.product.picture_1.file);
                        }
                        if (this.product.picture_2) {
                            fmData.append("picture_2", this.product.picture_2.file);
                        }
                        if (this.product.picture_3) {
                            fmData.append("picture_3", this.product.picture_3.file);
                        }
                        if (this.product.picture_4) {
                            fmData.append("picture_4", this.product.picture_4.file);
                        }

                        axios.post(`${window.Api.products.update}/${this.product.id}`, fmData)
                            .then(response => {
                                this.edit_mode = true;
                                this.$swal(
                                    'Guardado!',
                                    'Registro actualizado',
                                    'success'
                                );
                            })
                            .catch(error => this.onError(error))
                            .finally(() => this.$swal.close())

                    }
                })
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        console.log(this.errors);
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

            getCategories() {
                return axios.get(`${window.Api.categories.show}?all=true`)
                    .then(response => {
                        let array_categories = response.data.success;

                        array_categories.forEach(category => {
                            this.categories.push({value: parseInt(category.id), text: category.name});
                        });
                    })
                    .catch(error => console.log(error));

            },

        }

    }
</script>

<style lang="scss" scoped>

</style>
