<template>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-table"></i><label>Comentarios</label>
        </div>
        <div class="card-body">
            <div class="content">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="mb-4">Lista de comentarios del producto {{product_data.name}}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm-3">
                                <h5>
                                    Calificación general
                                </h5>
                                <rating-starts :score="product_data.overall_score" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="number_records">
                                    <b-form-select
                                        v-model="perPage.selected"
                                        :options="perPage.options"
                                        class="mb-3 form-select width-40"
                                        @change="list(paginate.current_page = 1)"
                                    ></b-form-select>
                                </div>
                            </div>
                            <div class="offset-4"></div>
                            <div class="col-sm-6">
                                <div class="search-box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input
                                        v-model="search"
                                        v-on:keyup="list"
                                        type="text"
                                        class="form-control"
                                        placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>

                    <SortedTable class="table table-striped table-hover" :values="data">
                        <thead>

                        <!-- Headers-->
                        <tr>
                            <th scope="col">
                                <SortLink name="name">Nombre</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="email">Correo</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="score">Calificación</SortLink>
                            </th>
                            <th scope="col">
                                <SortLink name="review">Comentario</SortLink>
                            </th>
                            <th>Acciones</th>
                        </tr>

                        </thead>
                        <tbody slot="body" slot-scope="sort">
                        <tr v-for="row in sort.values" :key="row.id">

                            <!-- Columns-->
                            <td class="vertical-align-column">
                                <label>{{ row.name }}</label>
                            </td>
                            <td class="vertical-align-column">

                                {{ row.email }}
                            </td>
                            <td class="vertical-align-column">
                                    <rating-starts :score="row.score" />

                            </td>
                            <td class="vertical-align-column">

                                {{ row.review }}
                            </td>

                            <!-- Actions-->
                            <td class="vertical-align-column">

                                <a
                                    href="#"
                                    @click.prevent="destroy(row.id)"
                                    class="delete"
                                    title="Delete"
                                    data-toggle="tooltip">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </SortedTable>


                    <div class="clearfix">

                        <div class="hint-text">Mostrando
                            <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
                        </div>

                        <paginate
                            :page-count="paginate.last_page"
                            :click-handler="list"
                            :prev-link-class="'fa fa-angle-double-left'"
                            :next-link-class="'fa fa-angle-double-right'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link'"
                            :prev-text="''"
                            :next-text="''"
                        >
                        </paginate>


                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import RatingStarts from "../../../components/ratingStarts";
    export default {
        name: "ReviewsProduct",
        components: {RatingStarts},
        props:['product'],
        data() {
            return {
                data: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '5',
                    options: [
                        {value: 5, text: '5'},
                        {value: 10, text: '10'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },

                search: '',
                searching: false,
                product_data: null
            }
        },

        created() {
            this.product_data =  JSON.parse(this.product);
            this.list();
        },
        methods: {

            list(page) {
                axios.get(window.Api.reviews.show, {
                        params: {
                            page: page,
                            search: this.search,
                            per_page: this.perPage.selected,
                            product_id: this.product_data.id,

                        }
                    }
                )
                    .then(response => {

                        response = response.data.success;

                        this.data = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;
                    })
                    .catch(error => console.log(error));
            },

            destroy(id) {

                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podrás revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete(`${window.Api.reviews.delete}/${id}`)
                            .then(response => {
                                this.$swal(
                                    'Eliminado!',
                                    'Registro eliminado',
                                    'success'
                                );
                                this.list(this.paginate.current_page);
                            })
                            .catch(error => console.log(error.response.data));
                    }
                })

            },

        }
    }
</script>

<style scoped>

</style>
