<template>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-table"></i><label>Categorías</label>
        </div>
        <div class="card-body">
            <div class="content">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="mb-4">Lista <b>Categorías</b></h2>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button id="show-btn" class="btn btn-danger"
                                    @click.prevent="openAddModal">Crear
                            </button>
                            <b-modal id="bv-modal-category" hide-footer>
                                <template v-slot:modal-title>
                                    Crear categoria
                                </template>
                                <div class="d-block pl-3 pr-3">
                                    <form @submit.prevent="add">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Categoría</label>
                                                <input
                                                    v-model="form.name"
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Nombre categoría"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <single-image-upload
                                                    v-model="form.image"
                                                    title="Seleccione una imagen"
                                                    :defaultImg="defaultImg"
                                                    placeholder="Elija un archivo o suéltelo aquí."
                                                    drop-placeholder="Suelte el archivo aquí ..."
                                                    accept="image/*"
                                                />
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <button type="submit"
                                                    class="btn btn-block btn-danger">Guardar
                                            </button>

                                            <b-button class="mt-3" block @click="closeModal">
                                                Cerrar
                                            </b-button>
                                        </div>

                                    </form>
                                </div>
                            </b-modal>

                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="number_records">
                                    <b-form-select
                                        v-model="perPage.selected"
                                        :options="perPage.options"
                                        class="mb-3 form-select width-40"
                                        @change="list(paginate.current_page = 1)"
                                    ></b-form-select>
                                </div>
                            </div>
                            <div class="offset-4"></div>
                            <div class="col-sm-6">
                                <div class="search-box">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input
                                        v-model="search"
                                        v-on:keyup="list"
                                        type="text"
                                        class="form-control"
                                        placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <SortedTable class="table table-striped table-hover" :values="data">
                                <thead>

                                <!-- Headers-->
                                <tr>
                                    <th scope="col">
                                        <SortLink name="image">Imagen</SortLink>
                                    </th>
                                    <th scope="col">
                                        <SortLink name="name">Nombre</SortLink>
                                    </th>
                                    <th>Acciones</th>
                                </tr>

                                </thead>
                                <tbody slot="body" slot-scope="sort">
                                <tr v-for="row in sort.values" :key="row.id">

                                    <!-- Columns-->
                                    <td>
                                        <img :src="row.image_path" alt="image" class="avatar">
                                    </td>
                                    <td class="vertical-align-column">
                                        <label>{{ row.name }}</label>
                                    </td>

                                    <!-- Actions-->
                                    <td>
                                        <a href="#"
                                           @click.prevent="openEditModal(row.id,row.name,row.image_path)"
                                           class="settings"
                                           title="settings"
                                           data-toggle="tooltip">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a
                                            href="#"
                                            @click.prevent="destroy(row.id)"
                                            class="delete"
                                            title="Delete"
                                            data-toggle="tooltip">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </SortedTable>
                        </div>
                    </div>
                    <div class="clearfix">

                        <div class="hint-text">Mostrando
                            <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> registros
                        </div>

                        <paginate
                            :page-count="paginate.last_page"
                            :click-handler="list"
                            :prev-link-class="'fa fa-angle-double-left'"
                            :next-link-class="'fa fa-angle-double-right'"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link'"
                            :prev-text="''"
                            :next-text="''"
                        >
                        </paginate>


                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SingleImageUpload from "../../../components/singleImageUpload";

    export default {
        name: "TableUsers",
        components: {SingleImageUpload},
        data() {
            return {
                data: [], // carga de registros
                defaultImg: "/admin/img/prev-product.png",
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '5',
                    options: [
                        {value: 5, text: '5'},
                        {value: 10, text: '10'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },
                search: '',
                searching: false,
                errors: [],
                form: {
                    id: 0,
                    name: "",
                    image: null
                }
            }
        },

        created() {
            this.list();
        },
        methods: {

            list(page) {
                axios.get(window.Api.categories.show, {
                    params: {
                        page: page,
                        search: this.search,
                        per_page: this.perPage.selected,
                    }
                })
                    .then(response => {

                        response = response.data.success;

                        this.data = response.data;
                        this.paginate.total = response.total;
                        this.paginate.current_page = response.current_page;
                        this.paginate.per_page = response.per_page;
                        this.paginate.last_page = response.last_page;
                        this.paginate.from = response.from;
                        this.paginate.to = response.to;

                    })
                    .catch(error => console.log(error));

            },

            add() {
                this.$swal({
                    title: 'Guardando registro',
                    html: 'Cargando ...',
                    onBeforeOpen: () => {
                        this.$swal.showLoading();
                        this.errors = [];

                        let fmData = new FormData();
                        fmData.append("name", this.form.name);

                        let api_categories = "";

                        if(this.form.id === 0){
                            if (this.form.image) {
                                fmData.append("image", this.form.image.file);
                            } else {
                                this.$swal.close();
                                this.$swal({
                                    title: `Alerta`,
                                    type: 'error',
                                    toast: true,
                                    position: "center",
                                    text: "Debes seleccionar una imagen",
                                    showCloseButton: true,
                                });
                                return false;
                            }

                            api_categories = window.Api.categories.create;

                        }else{
                            if (this.form.image) {
                                fmData.append("image", this.form.image.file);
                            }
                            api_categories = `${window.Api.categories.update}/${this.form.id}`;

                        }

                        axios.post(api_categories, fmData)
                            .then(response => {
                                this.$swal.close();
                                this.$swal(
                                    'Guardado!',
                                    'Registro guardado',
                                    'success'
                                );
                                this.form.id = 0;
                                this.form.name = "";
                                this.form.image = null;
                                this.list(this.paginate.current_page);
                                this.closeModal();
                            })
                            .catch(error => {
                                this.$swal.close();
                                this.onError(error)
                            });

                    }
                });

                return false;
            },

            destroy(id) {

                this.$swal({
                    title: '¿Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podrás revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                }).then((result) => {
                    if (result.value) {
                        axios.delete(`${window.Api.categories.delete}/` + id)
                            .then(response => {
                                this.$swal(
                                    'Eliminado!',
                                    'Categoria eliminada',
                                    'success'
                                );
                                this.list(this.paginate.current_page);
                            })
                            .catch(error => this.onError(error));
                    }
                })

            },

            openAddModal() {
                this.form.id = 0;
                this.form.name = "";
                this.defaultImg = "/admin/img/prev-product.png";
                this.$bvModal.show('bv-modal-category');
            },

            openEditModal(id,name,image) {
                this.form.id = id;
                this.form.name = name;
                this.defaultImg = image;
                this.$bvModal.show('bv-modal-category');
            },

            onError(error) {
                switch (error.response.status) {
                    case 422:
                        this.errors = error.response.data.error;
                        console.log(this.errors);
                        break;
                    case 400:
                        this.$swal({
                            title: `Alerta`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: error.response.data.error,
                            showCloseButton: true,
                        });
                        break;
                    case 405:
                    case 401:

                        let status = error.response.status;
                        let message = error.response.data.message;

                        this.$swal({
                            title: `Alerta error : ${status}!`,
                            type: 'error',
                            toast: true,
                            position: "center",
                            text: message,
                            showCloseButton: true,
                        });
                        break;
                }
            },

            closeModal() {
                this.$bvModal.hide('bv-modal-category');
                this.form.name = "";
                this.form.image = null;
            }
        }
    }
</script>

<style scoped>
    table.table .avatar {
        border-radius: 20%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .avatar {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 60px;
    }

    .vertical-align-column {
        vertical-align: inherit;
    }
</style>
