<template>
    <div id="butchers" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Nuestros carniceros</h2>
            <p class="lead main text-center">Cortan, recortan o preparan porciones de carne de la mejor calidad!</p>

            <div class="row text-center chefs">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img class="size-img-butcher" src="/landing/img/butchers/carnicero1.jpeg">
                        </div>
                        <h3>Oscar Rodriguez</h3>
                        <p>Nuestro carnicero Oscar siempre trabajando con la mejor calidad y haciendo los mejores cortes finos.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img class="size-img-butcher" src="/landing/img/butchers/2.jpg">
                        </div>
                        <h3>Jane Doe</h3>
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis
                            dis parturient monte nascetur ultricies vehicula. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img class="size-img-butcher" src="/landing/img/butchers/3.jpeg">
                        </div>
                        <h3>Anton Mosimann</h3>
                        <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget
                            metus. Consectetur adipiscing elit ultricies vehicula.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

</template>

<script>
    export default {
        name: "Butchers"
    }
</script>

<style scoped>
    .size-img-butcher {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
</style>
