<template>

    <div id="reservation" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Contacto</h2>
            <p class="lead main text-center">Si requiere informes, tiene algún comentario, o desea que le
                enviemos un presupuesto, por favor llene el siguiente formulario:</p>
            <div class="row">
                <div class="col-md-6">
                    <form class="form form-table" method="post" name="">
                        <div class="form-group">
                            <h4>Rellene el formulario para ponernos en contacto</h4>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="sr-only">Nombre</label>
                                <input class="form-control hint" type="text"
                                       placeholder="Nombre" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="sr-only">Correo electrónico</label>
                                <input class="form-control hint" type="email"
                                       placeholder="Correo electrónico" required="">
                            </div>
                            <div class="col-lg-6 col-md-6 form-group">
                                <label class="sr-only">Teléfono</label>
                                <input class="form-control hint" type="text"
                                       placeholder="Teléfono" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="sr-only">Mensaje</label>
                                <b-form-textarea
                                    id="textarea"
                                    placeholder="Tu mensaje"
                                    rows="3"
                                    max-rows="6"
                                ></b-form-textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <p>Escríbenos y nos pondremos en contacto.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="btn btn-danger btn-lg">Contactar!</button>
                            </div>
                        </div>
                    </form>
                </div><!-- col-md-6 -->
                <div class="col-md-5 col-md-offset-1">

                    <h3><i class="fa fa-clock-o fa-fw"></i>Horario</h3>
                    <h4>Lunes a Domingo</h4>
                    <p> 7:00 AM - 4:00 PM </p>

                    <h3><i class="fa fa-map-marker fa-fw"></i>Domicilio</h3>
                    <p>María C. Bancalari #3045 col. Echeverria </p>

                    <h3><i class="fa fa-mobile fa-fw"></i>Datos de contacto</h3>
                    <p>Correo: <a href="mailto:carniceriarodriguez3045@outlook.es">carniceriarodriguez3045@outlook.es</a></p>
                    <p>Teléfono: +3322-250-666</p>

                </div><!-- col-md-6 -->
            </div>
            <!-- /.services -->
        </div>

        <!-- /.container -->

    </div>

</template>

<script>
    export default {
        name: "Contact"
    }
</script>

<style scoped>

</style>
