<template>
    <div>

        <!-- image big -->
        <div id="header" style="height: 250px !important">
            <div class="bg-overlay"></div>
            <div class="center text-center ">
                <br><br>
                <div class="subtitle">
                    <img :src="logo" alt="" style="width: 200px;">
                </div>
            </div>
        </div>

        <div id="story" class="light-wrapper">
            <section class="ss-style-top"></section>
            <div class="container inner">
                <h2 class="section-title text-center">Nuestra Historia</h2>
                <p class="lead main text-center">Realizando los mejores cortes desde 1975</p>
                <div class="row text-center story">
                    <div class="col-sm-12">
                        <div class="col-wrapper">
                            <p class="text-justify history-text">
                                <strong>Carnicería Rodríguez </strong> Carnicería Rodríguez fue fundada en 1975 en la
                                colonia Echeverría, con un espíritu familiar, mucha ilusión y ganas de ofrecer los
                                mejores productos de carnicería y un servicio esmerado a todos nuestros clientes y
                                amigos.
                                Este afán de servicio y superación supuso un reto en aquellos años y gracias al esfuerzo
                                y la dedicación mejoramos nuestras instalaciones.
                                A través de los años hemos llevado una mejora constante de la calidad y la atención
                                personalizada a todos nuestros clientes.
                                <br>
                                En la actualidad contamos con un equipo de profesionales formados y con la experiencia
                                transmitida generación tras generación.
                                Para la <strong>Carnicería Rodríguez </strong> lo primordial son nuestros clientes y
                                ofrecerles el mejor producto.
                            </p>
                            <div class="icon-wrapper"><i class="fa fa-cutlery"></i></div>

                        </div>
                    </div>
                </div>
                <!-- /.services -->
            </div>
            <!-- /.container -->
            <section class="ss-style-bottom"></section>
        </div><!-- #story -->

        <div id="facts" class="parallax parallax2 facts">
            <div class="container inner">
                <div class="row text-center services-3">
                    <div class="col-sm-4">
                        <div class="col-wrapper">
                            <div class="icon-border bm10"><i class="fa fa-cart-plus"></i></div>
                            <h4>+40</h4>
                            <p>Productos</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-wrapper">
                            <div class="icon-border bm10"><i class="fa fa-users"></i></div>
                            <h4>+1000</h4>
                            <p>Clientes</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-wrapper">
                            <div class="icon-border bm10"><i class="fa fa-truck"></i></div>
                            <h4>+200</h4>
                            <p>pedidos</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div><!-- #facts -->


        <list-categories/>

        <butchers/>

<!--
        <div id="map" class="light-wrapper">
            <section class="ss-style-top"></section>
                 <h2 class="section-title text-center"> Nuestra sucursal </h2>

                <div class="container">
                    <div class="text-center">
                        <h3>
                            María C. Bancalari #3045 col. Echeverria
                        </h3>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d933.5265757883398!2d-103.36254647077673!3d20.624523399138667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad86d97f5459%3A0x93ace76315f86a65!2sCalle%20Mar%C3%ADa%20C.%20Bancalari%203047%2C%20Echeverr%C3%ADa%2C%2044970%20Guadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1583905673597!5m2!1ses-419!2smx"
                            width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>

                    </div>
                </div>
            </div>
-->

        <contact/>


    </div>
</template>

<script>
    import ListCategories from "./ListCategories";

    export default {
        name: "Home",
        components: {ListCategories},
        data() {
            return {
                logo: "/logo/Logo_blanco_transparente.png"
            }
        }
    }
</script>

<style scoped>

</style>
