<template>
    <div id="food-menu" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Categorias</h2>
            <p class="lead main text-center">El producto con la mejor calidad</p>

            <div class="row">

                <div class="col-sm-3 col-md-3" v-for="category in categories">
                    <div class="menu-images "><img :src="category.image_path" alt="Hot Drinks"></div>
                    <div class="menu-titles"><h1 class="">{{category.name}}</h1></div>

                </div>

            </div>


        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div>
</template>

<script>
    export default {
        name: "ListCategories",
        data() {
            return {
                categories: []
            }
        },
        created() {
            this.list();
        },
        methods: {
            list() {
                axios.get(window.Api.categories.topTen)
                    .then(response => this.categories = response.data.success)
                    .catch(error => console.log(error));
            }
        }
    }
</script>

<style scoped>

</style>
