<template>
    <div class="container mt-50 mb-50">


        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Mis pedidos</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-9">
                        <div class="number_records">
                            <b-form-select
                                v-model="perPage.selected"
                                :options="perPage.options"
                                class="mb-3 form-control max-width"
                                @change="list(paginate.current_page = 1)"
                            ></b-form-select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="search-box">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input
                                v-model="search"
                                v-on:keyup="list"
                                type="text"
                                class="form-control"
                                placeholder="Buscar por folio">
                        </div>
                    </div>
                </div>
            </div>

            <SortedTable class="table table-striped table-hover m-50" :values="data">
                <thead>

                <!-- Headers-->
                <tr>
                    <th scope="col">
                        <SortLink name="id">Folio</SortLink>
                    </th>

                    <th scope="col">
                        <SortLink name="address">Dirección</SortLink>
                    </th>
                    <th scope="col">
                        <SortLink name="total">Total</SortLink>
                    </th>

                    <th scope="col">
                        <SortLink name="status">Estatus</SortLink>
                    </th>
                    <th scope="col">
                        <SortLink name="time.hours">Horario aprox</SortLink>
                    </th>
                    <th scope="col">
                        <SortLink name="created_at">Solicitado el:</SortLink>
                    </th>
                    <th>Acciones</th>
                </tr>

                </thead>
                <tbody slot="body" slot-scope="sort">
                <tr
                    class="height-tr"
                    v-for="row in sort.values"
                    :key="row.id">

                    <!-- Columns-->
                    <td class="vertical-align-column">
                        {{ row.id }}
                    </td>
                    <td class="vertical-align-column">
                        {{ row.address}}
                    </td>
                    <td class="vertical-align-column">
                        {{ row.total | currency }}
                    </td>

                    <td class="vertical-align-column">
                        {{ getStatus(row.status)}}
                    </td>
                    <td class="vertical-align-column">
                        {{ row.time.hours}}
                    </td>

                    <td class="vertical-align-column">
                        {{ new Date(row.created_at).toLocaleDateString("es-ES", DateOptions) }}
                    </td>
                    <!-- Actions-->

                    <td class="vertical-align-column">
                        <a href="#"
                           @click.prevent="detail(row.id)"
                           class="settings" title="Settings"
                           data-toggle="tooltip">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>

                        <a
                            href="#"
                            v-if="row.status === 'Enviado'"
                            @click.prevent="openCancelModal(row.id)"
                            class="delete"
                            title="Delete"
                            data-toggle="tooltip">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>


                    </td>
                </tr>
                </tbody>
            </SortedTable>

            <div v-if="data.length === 0">
                <span>
                    Sin pedidos.
                </span>
            </div>

            <div class="clearfix">

                <div class="hint-text">Mostrando
                    <b>{{ data.length }}</b> de <b>{{ paginate.total }}</b> pedidos
                </div>
                <paginate
                    :page-count="paginate.last_page"
                    :click-handler="list"
                    :prev-link-class="'fa fa-angle-left'"
                    :next-link-class="'fa fa-angle-right'"
                    :container-class="'store-pagination'"
                    :page-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-text="''"
                    :next-text="''"
                >
                </paginate>

            </div>
        </div>

        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Cancelar pedido #{{modalCancel.order_id}}</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="cancel">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>¿Estas seguro de cancelar el pedido?</b>
                                    <p>
                                        Solo se podra cancelar el pedido si no se a salido a su entrega.
                                        <br>
                                        ¡No podrás revertir esta acción!
                                    </p>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <b-form-group
                                        id="fieldset-1"
                                        description="Describele el motivo por el cual estas cancelando tu pedido."
                                        label="Motivo de cancelación"
                                        label-for="input-note"

                                    >
                                        <b-form-textarea
                                            id="input-note"
                                            v-model="modalCancel.note"
                                            placeholder="Ingresa el motivo"
                                            rows="3"
                                            max-rows="6"
                                        ></b-form-textarea>

                                    </b-form-group>
                                </div>
                            </div>
                            <footer class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        @click.prevent="closeCancelModal">Cerrar
                                </button>
                                <button type="submit"
                                        class="btn btn-danger">Cancelar pedido
                                </button>
                            </footer>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Orders",
        props: ['auth_data'],

        data() {
            return {
                DateOptions: {year: 'numeric', month: 'long', day: 'numeric'},
                data: [], // carga de registros
                paginate: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                }, // variables de paginado
                perPage: {
                    selected: '5',
                    options: [
                        {value: 5, text: '5'},
                        {value: 10, text: '10'},
                        {value: 50, text: '50'},
                        {value: 100, text: '100'},
                    ]
                },
                search: '',
                searching: false,
                modalCancel: {
                    order_id: 0,
                    note: ""
                }
            }
        },
        computed: {
            auth_id() {
                return JSON.parse(this.auth_data).id;
            }
        },
        created() {
            this.list();
        },
        mounted() {
            setInterval(() => {
                this.list(this.paginate.current_page)
            }, 10000);
        },
        methods: {
            list(page) {
                axios.get(window.Api.orders.show, {
                        params: {
                            page: page,
                            search: this.search,
                            per_page: this.perPage.selected,
                            user_id: this.auth_id,
                        }

                    }
                )
                    .then(response => {

                        response = response.data.success;

                        let orders = response.orders;

                        this.data = orders.data;
                        this.paginate.total = orders.total;
                        this.paginate.current_page = orders.current_page;
                        this.paginate.per_page = orders.per_page;
                        this.paginate.last_page = orders.last_page;
                        this.paginate.from = orders.from;
                        this.paginate.to = orders.to;

                    })
                    .catch(error => console.log(error));
            },

            detail(id) {
                window.location.href = `/pedido/${id}`;
            },

            cancel() {
                $('#cancelModal').modal('toggle');

                axios.delete(`${window.Api.orders.cancel}/${this.modalCancel.order_id}`, {
                    params: {
                        note: this.modalCancel.note
                    }
                })
                    .then(response => {
                        this.$swal(
                            'Cancelado!',
                            'Pedido cancelado',
                            'success'
                        );

                        this.list(this.paginate.current_page);
                    })
                    .catch(error => console.log(error.response.data));


            },

            getStatus(status) {

                switch (status) {
                    case "Enviado":
                        status = "Esperando respuesta";
                        break;
                    case "En camino":
                        status = "En camino";
                        break;
                    case "Conflicto":
                        status = "En conflicto.";
                        break;
                    case "Recibido":
                        status = "Entregado.";
                        break;
                }
                return status
            },

            openCancelModal(id) {
                this.modalCancel.order_id = id;
                this.modalCancel.note = "";

                $('#cancelModal').modal('show');
            },

            closeCancelModal() {
                this.modalCancel.order_id = 0;
                this.modalCancel.note = "";
                $('#cancelModal').modal('toggle');
            }
        }
    }
</script>

<style lang="scss" scoped>

    .height-tr {
        height: 70px;
    }

    .vertical-align-column {
        vertical-align: inherit;
    }

    .m-50 {
        margin: 50px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .max-width {
        max-width: 100px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;

        h2 {
            margin: 8px 0 0;
            font-size: 22px;
        }
    }

    .search-box {
        position: relative;
        float: right;

        input {
            height: 34px;
            border-radius: 20px;
            padding-left: 35px;
            border-color: #ddd;
            box-shadow: none;

            &:focus {
                border-color: #3FBAE4;
            }
        }

        i {
            color: #a0a5b1;
            position: absolute;
            font-size: 19px;
            top: 8px;
            left: 10px;
        }
    }

    table {
        &.table tr {
            th, td {
                border-color: #e9e9e9;
            }
        }

        &.table-striped {
            tbody tr:nth-of-type(odd) {
                background-color: #fcfcfc;
            }

            &.table-hover tbody tr:hover {
                background: #f5f5f5;
            }
        }

        &.table {
            th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }

            td {
                a {
                    color: #a0a5b1;
                    display: inline-block;
                    margin: 0 5px;

                    &.view {
                        color: #03A9F4;
                    }

                    &.edit {
                        color: #FFC107;
                    }

                    &.delete {
                        color: #E34724;
                    }
                }

                i {
                    font-size: 16px;
                }
            }
        }
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .background-success {
        background-color: #10c469;
    }

    .background-info {
        background-color: #62c9e8;
    }

    .background-warning {
        background-color: #FFC107;
    }

    .background-danger {
        background-color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;

        li {
            a, span {
                border: none;
                font-size: 95%;
                width: 30px;
                height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 30px !important;
                text-align: center;
                padding: 0;
            }
        }

        [aria-label="« Previous"], [aria-label="Next »"] {
            font-size: 25px !important;
        }

        li {
            a:hover {
                color: #666;
            }

            &.active a {
                background: #03A9F4;

                &:hover {
                    background: #0397d6;
                }
            }

            &.disabled i {
                color: #ccc;
            }

            i {
                font-size: 16px;
                padding-top: 6px;
            }
        }
    }

    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }

    @media screen and (max-width: 600px) {
        .search-box {
            position: relative;
            float: right;
            margin-top: 10px;
            width: 100%;
        }

        table {
            width: 100%;
        }

        thead {
            display: none;
        }

        tr {
            &:nth-of-type(2n) {
                background-color: inherit;
            }

            td:first-child {
                background: #f0f0f0;
                font-weight: bold;
                font-size: 1.3em;
            }
        }

        tbody td {
            display: block;
            text-align: center;

            &:before {
                content: attr(data-th);
                display: block;
                text-align: center;
            }
        }
    }

</style>
