<template>
    <div class="container mt-50 mb-50">


        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mt-20">
                    <div class="col-sm-12">
                        <h3>Mi pedido</h3>
                    </div>
                </div>

                <div class="management">
                    <div class="row mt-5 mb-20 ">

                        <div class="col-md-12">
                            <h5 class="info">
                                <strong>Estatus</strong>
                            </h5>
                        </div>

                        <div class="col-md-12">
                            {{getStatus(order.status)}}
                        </div>

                    </div>

                </div>

                <div class="divisor"></div>

                <div class="info">
                    <div class="row mt-20">
                        <div class="col-md-6">
                            <strong>Folio: </strong><span>{{order.id}}</span>
                        </div>
                        <div class="col-md-6">
                            <strong>Fecha: </strong><span>{{new Date(order.created_at).toLocaleDateString("es-ES", DateOptions) }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Cliente: </strong><span>{{order.costumer.name}}</span>
                        </div>
                        <div class="col-md-6">
                            <strong>Teléfono: </strong><span>{{order.costumer.telephone}}</span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <strong>Correo: </strong><span>{{order.costumer.email}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <strong>Nota: </strong><span>{{order.note}}</span>
                        </div>
                    </div>

                </div>

                <div class="divisor"></div>

                <div class="products">
                    <div class="table-wrapper">
                        <div class="table-title">

                            <div class="row mt-5">
                                <div class="col-sm-4">
                                    <h2 class="info subtitle">
                                        <strong>Producto solicitado</strong>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <SortedTable class="table table-striped table-hover" :values="products">
                            <thead>

                            <!-- Headers-->
                            <tr>
                                <th scope="col">
                                    <SortLink name="name">Producto</SortLink>
                                </th>

                                <th scope="col">
                                    <SortLink name="price">C/U</SortLink>
                                </th>
                                <th scope="col">
                                    <SortLink name="quantity">Cantidad</SortLink>
                                </th>

                                <th scope="col">
                                    <SortLink name="discount">Descuento</SortLink>
                                </th>

                                <th scope="col">
                                    <SortLink name="import">Importe</SortLink>
                                </th>

                            </tr>

                            </thead>
                            <tbody slot="body" slot-scope="sort">
                            <tr v-for="row in sort.values" :key="row.id">

                                <!-- Columns-->
                                <td class="vertical-align-column">
                                    <img :src="row.info.images_path.picture_1" alt="image" class="avatar-square">
                                    <label>{{ row.info.name }}</label>
                                </td>
                                <td class="vertical-align-column">
                                    <label>{{row.price | currency}}</label>
                                </td>
                                <td class="vertical-align-column">
                                    <label>{{row.quantity + ' KG' }} </label>
                                </td>

                                <td class="vertical-align-column">
                                    <label>{{row.discount_percentage + ' %'}}</label>
                                </td>
                                <td class="vertical-align-column">
                                    <label>{{(row.discount_price * row.quantity)| currency}}</label>
                                </td>
                            </tr>
                            </tbody>
                        </SortedTable>


                    </div>
                </div>

                <div class="divisor"></div>

                <div class="map info">
                    <div class="row mt-5 mb-20">
                        <div class="col-sm-4">
                            <h2 class="info subtitle">
                                <strong>Ubicación</strong>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Dirección: </strong><span>{{order.address}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <gmap-map
                                :center="center"
                                :zoom="13"
                                :options="mapOptions"
                                class="size-map"
                            >
                                <gmap-marker
                                    :position="location"
                                    :clickable="true"
                                    :draggable="false"
                                ></gmap-marker>
                            </gmap-map>
                        </div>
                    </div>
                </div>

                <div class="divisor"></div>

                <div class="payment info">
                    <div class="row mt-5 mb-20 ">

                        <div class="col-md-12">
                            <h2 class="info subtitle">
                                <strong>Costo</strong>
                            </h2>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="cash-withd">
                                <strong>Subtotal:</strong>
                            </h4>
                        </div>
                        <div class="col-md-2">
                            <h5 class="cash-withd">
                                <span>{{order.subtotal | currency}}</span>
                            </h5>
                        </div>

                        <div class="col-md-10">
                            <h4 class="cash-withd">
                                <strong>Iva: </strong>
                            </h4>
                        </div>
                        <div class="col-md-2">
                            <h5 class="cash-withd">
                                <span>{{order.total - order.subtotal| currency}}</span>
                            </h5>
                        </div>

                        <div class="col-md-10">
                            <h4 class="cash-withd">
                                <strong>Total:</strong>
                            </h4>
                        </div>
                        <div class="col-md-2">
                            <h5 class="cash-withd">
                                <span>{{order.total | currency}}</span>
                            </h5>
                        </div>

                        <div class="col-md-10">
                            <h4 class="cash-withd">
                                <strong>Cambio de: </strong>
                            </h4>
                        </div>
                        <div class="col-md-2">
                            <h5 class="cash-withd">
                                <span>{{order.money_exchange | currency}}</span>
                            </h5>
                        </div>
                    </div>

                    <div class="divisor"></div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Order",
        props: ['order_data'],
        data() {
            return {
                DateOptions: {year: 'numeric', month: 'long', day: 'numeric'},
                products: [],
                center: {lat: 20.727859, lng: -103.404007},
                location: {lat: 20.727859, lng: -103.404007},
                marker: {},
                mapOptions: {
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: true,
                    fullscreenControl: true,
                    disableDefaultUi: false
                }
            }
        },
        beforeCreate() {
            if (!("geolocation" in navigator)) {
                console.log('Geolocation is not available.');
                return;
            }
        },
        computed: {
            order() {
                let O = JSON.parse(this.order_data);
                this.products = O.products;

                this.location = {
                    lat: parseFloat(O.lat),
                    lng: parseFloat(O.lng),
                };
                this.center = this.location;
                return O;

            }
        },
        methods:{
            getStatus(status) {

                switch (status) {
                    case "Enviado":
                        status = "Esperando respuesta";
                        break;
                    case "En camino":
                        status = "En camino";
                        break;
                    case "Conflicto":
                        status = "En conflicto, nos pondremos en contacto lo mas pronto posible.";
                        break;
                    case "Recibido":
                        status = "Entregado.";
                        break;
                }

                return status
            },

        }
    }
</script>

<style scoped>
    .cash-withd {
        width: 400px;
        float: left
    }

    .info {
        color: #2f353a !important;
    }

    .subtitle {
        padding-top: 10px;
    }

    .divisor {
        padding-bottom: 0;
        margin: 15px 0 0;
        border-bottom: 1px solid #eee;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px;
        border-top: 1px solid #464444;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }

    .avatar-square {
        height: 70px;
        width: 70px;
    }

    .vertical-align-column {
        vertical-align: inherit;
    }

    @media (min-width: 992px) {
        .search-btn {
            margin-top: 0 !important;
        }
    }

    .size-map {
        width: 100%;
        height: 200px;
    }


    .mt-50 {
          margin-top: 50px
      }

    .mt-20 {
        margin-top: 20px
    }

    .mb-50 {
        margin-bottom: 50px
    }

    .max-width {
        max-width: 100px
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }

    .search-box {
        position: relative;
        float: right;
    }

    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }

    .search-box input:focus {
        border-color: #3FBAE4;
    }

    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }


    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }

    table.table td a.view {
        color: #03A9F4;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

    table.table td i {
        font-size: 16px;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a, .pagination li span {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }

    .pagination [aria-label="« Previous"],
    .pagination [aria-label="Next »"] {
        font-size: 25px !important;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }

    @media screen and (max-width: 600px) {

        .search-box {
            position: relative;
            float: right;
            margin-top: 10px;
            width: 100%;
        }

        table {
            width: 100%;
        }

        thead {
            display: none;
        }

        tr:nth-of-type(2n) {
            background-color: inherit;
        }

        tr td:first-child {
            background: #f0f0f0;
            font-weight: bold;
            font-size: 1.3em;
        }

        tbody td {
            display: block;
            text-align: center;
        }

        tbody td:before {
            content: attr(data-th);
            display: block;
            text-align: center;
        }
    }

</style>
